[2019-09-18 08:26] vtrifonov opened #2 "Svelte native project does not work"
Steps to reproduce:
[code]
The logo shows up and then the app closes.

[2019-09-25 06:38] darind opened #3 "Cannot instantiate extended native classes using the "new" keyword"
Extend a native class:

[code]

and try to create an instance of it using the "new" keyword:

[code]

Currently the only supported way to instantiate this class is using the following:

[code]

[2019-09-27 21:00] bradmartin opened #4 "console.time not supported"

[2019-09-30 20:33] darind opened #5 "HMR does not work on simulator"
Steps:

1. `tns platform add ios@alpha-v8`
2. `tns run ios --emulator`
3. Make some change in the code

Expected output:
The change is reflected on the simulator

Actual output:
The change is not taken into account and the old code continues to run until the application is restarted

[2019-10-01 13:21] #2 closed

[2019-10-01 13:21] #3 closed

[2019-10-01 13:21] #4 closed

[2019-10-13 20:38] #5 closed

[2019-10-17 12:20] Natalia-Hristova opened #7 "Chrome Elements tab is not updated when adding new view dynamically"
1. `git clone git@github.com:NativeScript/chrome-devtools-test-app.git`
2. Add ios v8 runtime
3. Run `tns debug ios`
4. Open the URL un Chrome
5. Tap on `TAP - Add view children`

**Actual:** The new added view is shown on the screen **but not** in Chrome Elements tab
**Expected:** View to be shown on the screen and in Chrome Elements tab (expand the elements)

[2019-10-17 13:25] Natalia-Hristova opened #8 "Exceptions is thrown and debugger disconnects when make GET request with image"
1. `git clone git@github.com:NativeScript/chrome-devtools-test-app.git`
2. Add ios v8 runtime
3. Run `tns debug ios`
4. Open the URL un Chrome
5. Navigate to Network requests  and tap on `GET with image response`

**Actual:**
[code]
**Expected:**  Successfully made GET request (also shown in Network Chrome tab)

[2019-10-22 09:15] #8 closed

[2019-10-22 09:15] #7 closed

[2019-11-18 09:30] Natalia-Hristova opened #11 "console.dir() prints all objects in one line instead of printing them on multiple lines with indents"
1. Run `tns create AppJS --js`
2. Add console.dir() like this:
[code]
3. Run `tns debug ios` and open the URL in Chrome. The printed result is the same in the terminal log.

**Actual:**
<img width="748" alt="debug-chrome-ios" src="https://user-images.githubusercontent.com/5803037/69039956-9fbfb500-09f5-11ea-8fd7-490d9dd7c712.png">

Here's how it looks in android:
<img width="226" alt="debug-chrome

[2019-11-18 09:44] Natalia-Hristova opened #12 "Files' path is not printed when use console.trace()"
1. Run `tns create AppJS --js`
2. Add console.trace();
3. Run `tns debug ios` and open the URL in Chrome

**Actual:**
[code]
Here's how it looks in android:
[code]

[2019-11-19 08:00] darind commented on #12
The full file paths are pretty long on iOS and are intentionally stripped as it makes stacktraces harder to read.

Consider this:

[code]

In contrast to this:

[code]

On the other hand we have an issue that prevents the runtime from properly collecting function names in stack traces. Notice the `<anonymous>` names in the stacktrace.

Let's consider the following example:

[code]

Which produces:

[2019-11-20 16:09] #11 closed

[2019-11-21 13:55] vhristov5555 opened #13 "Webview not visualised correctly"
1. Git clone `https://github.com/NativeScript/NativeScript.git`
2. Navigate to `NativeScript/e2e/ui-tests-app`
3. `rm -rf node_modules`
4. `rm -rf platforms`
5. `rm -rf package-lock.json`
6. Open package.json and edit this fields to next version:
    - ` "tns-platform-declarations": "next"`
    - `"tns-core-modules": "next"`
    - `"@nativescript/core": "next"`
7. Add new iosV8 ` tns platform add

[2019-11-21 14:42] darind opened #14 "Workers do not have an active RunLoop"
Background workers do not have an active CFRunLoop and they cannot execute any methods that depend on it (such as timers and network calls)

Steps to reproduce:

1. Create a new worker:

[code]

2. Start a new timer inside `myworker.js`:

[code]

Expected result:
 * 2 seconds after the worker is started, the `inside callback` message appears

Actual result:
 * the message never appears

[2019-11-21 18:05] darind opened #15 "Support for NSError** parameters"
According to the [documentation](https://docs.nativescript.org/core-concepts/ios-runtime/Marshalling-Overview#nserror--marshalling), if we invoke a method that takes an `NSError**` parameter not provided by the user, the method should throw an exception:

[code]

[2020-01-16 01:37] shiv19 opened #17 "App crashes after splash screen with this runtime"
I just tried the latest 6.4.0-beta.1-v8-2020-01-14-161321-03 runtime with Grainfather app.
The app crashed after tapping allow for notifications.

Here are the logs
[code]

[2020-01-16 15:59] darind commented on #17
We have released a fix for this. Try re-adding the ios platform again:

[code]

[2020-01-16 19:51] shiv19 commented on #17
That fixed it :)
Thanks @darind

[2020-01-16 19:51] #17 closed

[2020-01-16 20:02] shiv19 opened #18 "Cannot read property 'toLowerCase' of undefined in a RadListView"
Here's the log

[code]

This page has a RadListView that has grouping enabled. It also has 4 item templates with unique keys.
RadListView without grouping is working fine.

[2020-01-17 15:26] darind commented on #18
@shiv19, thanks for submitting this issue. Could you please try re-adding the `ios@beta-v8` platform and see if the published fix works for you?

[2020-01-17 15:31] farfromrefug opened #19 "split is not a function"
In my app i do something like this:
[code]
Now it crashes with the error:
[code]
Logging i see that `typeof deviceLang` is `object`

[2020-01-17 20:05] shiv19 commented on #18
@darind I'm travelling today. I'll be able to test it tomorrow :)
Will report back asap

[2020-01-18 10:41] shiv19 commented on #18
@darind
That worked :)
Pages with grouped rad list view is now loading fine.

the next hurdle is this

[code]

[2020-01-18 12:16] darind commented on #18
thanks, could you please provide some steps or sample code to reproduce this new issue?

[2020-01-18 12:19] shiv19 commented on #18
Will provide tomorrow. I didn't get much time to check it as I'm traveling

[2020-01-18 14:25] darind commented on #18
I managed to find the issue. Will provide a fix soon.

[2020-01-20 08:14] darind commented on #18
We have just released a fix for this. Please let me know if you encounter some other issues.

[2020-01-20 08:29] darind commented on #19
@farfromrefug, thanks for reporting this issue, we have released a fix for it.

[2020-01-20 09:04] farfromrefug commented on #19
@darind i can confirm it is fixed

[2020-01-20 09:04] #19 closed

[2020-01-20 09:05] shiv19 commented on #18
It no longer crashes at the page where it crashed previously.
But I still see this in the log

[code]

I'll close this issue now as the issue reported here as been fixed. I'll create a separate issue for the uncaught JS exception.

[2020-01-20 09:05] #18 closed

[2020-01-20 09:08] farfromrefug opened #20 "Assertion failed: (wrapper != nullptr), function WriteValue"
Navigating between pages, my app crashes with:
[code]
Cant really tell you where it happens in JS as i get no stack.
<img width="1651" alt="Screen Shot 2020-01-20 at 10 06 30" src="https://user-images.githubusercontent.com/655344/72713109-b8228c00-3b6c-11ea-957d-2ddcf3aea8a3.png">

[2020-01-20 09:11] shiv19 opened #21 "iosColors.addObject is not a function"
[code]

I noticed this from xcode logs

[2020-01-20 11:13] darind commented on #20
Could you send a sample project exhibiting this error?

[2020-01-20 11:23] farfromrefug commented on #20
@darind right now it is with a client project. Need to see if i can reproduce with a very simple project. Will let you know

[2020-01-21 14:42] darind commented on #20
@farfromrefug, I have released a patch which will log the native and javascript stacktraces in case of assertion failures. Could you please try it and see you can see it in the native logs?

[2020-01-21 15:04] farfromrefug commented on #20
@darind here is the new one:
[code]
And looking at the code i see that it actually happens with one of my plugins [nativescript-canvas](https://github.com/Akylas/nativescript-canvas)
It happens here
https://github.com/Akylas/nativescript-canvas/blob/master/src/canvas.ios.ts#L1547
Also it happens on the simulator so i think ```FloatConstructor``` is actually ```Float64Array```

You can run the demo

[2020-01-22 12:37] darind commented on #20
@farfromrefug, thanks for the additional details. We have released a fix. Could you please try it and let us know if it resolves this particular issue?

Also we have included the function names in javascript stacktraces that are being shown during crashes in Debug builds.

[2020-01-22 13:09] farfromrefug commented on #20
@darind the bug is fixed!
Though i stumbled upon another error. Do you prefer here or another bug request?

[2020-01-22 13:10] darind commented on #20
Opening a new issue would be better for tracking those. Thanks!

[2020-01-22 13:11] #20 closed

[2020-01-22 13:12] farfromrefug opened #22 "cannot read property 'queryActivityStartingFromDateToDateToQueueWithHandler' of null"
I have an error when accessing `queryActivityStartingFromDateToDateToQueueWithHandler` on a `CMMotionActivityManager` [here](https://github.com/farfromrefug/nativescript-perms/blob/d59841e4f087f5a59bcbfc3257d3815eca0869b3/src/permissions.ios.ts#L331)
It seems the `new` is not working

[2020-01-22 14:20] darind commented on #22
Fixed.

[2020-01-22 15:24] farfromrefug commented on #22
@darind confirmed!

[2020-01-22 15:24] #22 closed

[2020-01-22 15:44] farfromrefug opened #23 "EXEC_BAD_ACCESS while dynamically adding view"
i am facing that error
<img width="1499" alt="Screen Shot 2020-01-22 at 16 22 49" src="https://user-images.githubusercontent.com/655344/72908686-223a5d00-3d36-11ea-9ec6-fb108388fd60.png">
Now this is within my app but i managed to reproduce it within one of my plugins `nativescript-material-components`
You can find it [here](https://github.com/Akylas/nativescript-material-components)
* fork
* npm

[2020-01-23 09:05] farfromrefug opened #24 "slow JS / C++ bridge"
I decided run some tests comparing perfs of the actual runtime vs v8 runtime.
One thing which worries me quite a bit is the "bridge time".
I have made a test to run [this](https://github.com/Akylas/nativescript-canvas/blob/bc239cb1a072643ee8ad3181b83220f6ac0214fc/src/canvas.ios.ts#L735) function on an array of 100000 points.
On the current runtime it takes around 60ms. With the v8 runtime it takes

[2020-01-23 09:49] farfromrefug commented on #24
Jut to add on this why it worries me. One already existing case where you get fast native calls is `requestAnimationFrame` which makes calls to `__tns_uptime` at a high framerate.

[2020-01-23 15:18] darind commented on #24
Thanks for the observation. We will look into this and report back any findings.

[2020-01-24 07:00] darind commented on #23
Fixed.

[2020-01-24 15:59] darind commented on #24
@farfromrefug, could you please provide a sample illustrating the slowdown?

I have tried the following method:

[code]

and it produced similar results with both runtimes.

[2020-01-24 16:13] farfromrefug commented on #24
@darind can you try with 10000 points?
With not many points it was small enough to not be seen

[2020-01-27 07:22] darind commented on #21
We have released a fix. When you get the chance, could you please verify if this error is still occurring?

[2020-01-27 19:03] farfromrefug commented on #23
@darind i can confirm it is fixed!
Thanks

[2020-01-27 19:03] #23 closed

[2020-01-27 19:10] farfromrefug commented on #24
@darind sorry misread your example. It was actually 400 * 400 calls ...
Just ran it again with your latest:
* ios-runtime : 87ms
* ios-v8-runtime: 400ms

[2020-01-28 15:07] darind commented on #24
@farfromrefug, we have released several fixes that should improve the performance of method calls. Running this test in release mode on an iPhone X (iOS 13.2.2) yields the following results:

- ios-runtime: 80ms
- ios-v8-runtime: 91ms

The new runtime is still a bit slower but we are getting closer and the difference is quite insignificant.

Can you verify if you are observing improved performance

[2020-01-28 16:18] NathanWalker opened #25 "Stuck on 'Linking' phase in XCode build..."
With tns-ios `6.5.0-beta.2-v8-2020-01-28-165547-02` against a large project we manage I experience XCode build getting stuck on the 'Linking' phase for infinite amount of time (45 minutes and counting on a build attempt). I don't see anything in the build log in particular that jumps out but perhaps you may know.

Here's the full build log:
https://drive.google.com/file/d/15qmE4jaJIIYyywtm4RNxWgNX

[2020-01-28 17:48] farfromrefug commented on #24
@darind really awesome! Amazing work as always! Will test that tomorrow

[2020-01-29 10:37] darind commented on #24
@farfromrefug, we have released some additional perf improvements that have closed the gap between the beta and the official runtime.

[2020-01-29 10:57] farfromrefug commented on #24
@darind with 6.5.0-beta.2-v8-2020-01-29-122856-01 :
*`ios-v8-runtime`: 157.827ms
*`ios-runtime`: 80.945ms

Seems to be the best i can get

[2020-01-29 12:20] darind commented on #24
@farfromrefug, on what device are you running the test?

[2020-01-29 12:52] jibon57 opened #26 "App crash after start"
Hello,

I am trying `6.5.0-beta.2-v8-2020-01-29-122856-01` version for my APP. I am getting following problem

<img width="1392" alt="Screen Shot 2020-01-29 at 6 48 59 PM" src="https://user-images.githubusercontent.com/6080277/73358212-52e73d00-42c8-11ea-9c49-19d8ff452b49.png">

[code]

[2020-01-29 15:23] darind commented on #26
@jibon57, can you share some sample app illustrating the crash?

[2020-01-29 16:21] jibon57 commented on #26
@darind thanks for reply. I think it's happening for `nativescript-image-cache-it` plugin.

[code]
If I am using regular `Image` then it's working fine.

[2020-01-29 16:54] farfromrefug commented on #24
@darind it was on an iphone 6 simulator. Will try and run more tests.
Does it make a difference on simulator/device?

[2020-01-29 16:59] darind commented on #24
@farfromrefug, running on simulator can make a huge difference. As a rule of thumb, when making performance tests make sure that you are building in Release mode, targeting arm64 architecture and running on a real device.

[2020-01-29 17:00] farfromrefug commented on #24
@darind good to know sorry about the wrong results then!
Will confirm next week that it is fully ok. Ok with you?

[2020-01-29 17:01] darind commented on #26
@jibon57, thanks for the update! I will try to reproduce the crash and will share my findings once I have some information.

[2020-01-29 17:03] darind commented on #24
That’s perfectly fine. Thanks for proactively testing the beta and reporting any issues you encounter with it!

[2020-01-30 13:22] darind commented on #25
@NathanWalker, we have released a fix for this. Please try the latest `tns-ios@beta-v8` package and let us know if you are still experiencing any issues.

[2020-01-30 13:23] darind commented on #26
@jibon57, I have tried using the `nativescript-image-cache-it` plugin in a hello world angular application and it worked fine. Maybe there's some specifics in your project that are making it fail. If you cannot share your project source code, can you try narrowing it down to a simple example illustrating the issue?

[2020-01-30 14:47] darind commented on #26
@jibon57, I have managed to reproduce the crash and I am be working on a fix. I will let you know once we release it.

[2020-01-31 06:25] NathanWalker commented on #25
@darind wow. just wow. Worked perfect and the speed difference is quite noticeable. I'm quite thrilled - thank you! How safe would it be to go to production using this v8 runtime? The app works 100% so far from what I've seen which is quite impressive 👏 🎉

[2020-01-31 06:30] NathanWalker commented on #25
I did run into one interesting thing. When navigating back out of a view that was playing a video I got this:
[code]
Lemme know if you'd prefer me open a new issue for that one or if might have idea what that stack could be result of.

[2020-01-31 07:05] darind commented on #25
@NathanWalker, thanks for confirming. You can leave it here. Is this crash consistent and if yes, what are the steps to reproduce it? I will have a look.

[2020-01-31 08:54] darind commented on #26
@jibon57, we have released a fix for this crash. Could you please try re-adding the `ios` platform from the latest `beta-v8` tag and see if it resolves the issue in your application?

[2020-01-31 11:56] jibon57 commented on #26
@darind thanks a lot :) working perfectly :)

[2020-01-31 11:56] #26 closed

[2020-01-31 20:11] NathanWalker commented on #25
Thanks @darind - in that same project I shared with you via Slack (added login details in slack for you to use) - tap on the 2nd tab icon at top (looks like a diamond), then choose 'Play' on the first item in the list there. Let the video play for a moment and then tap the top left navigation back icon to get the stack above 👍

[2020-02-02 15:56] jibon57 commented on #14
Hello,

I am getting this type error in one of project:
[code]

[2020-02-02 16:03] jibon57 opened #27 "Not working with nativescript-baidu-push-notifications"
Hello,

I am having following problem with [nativescript-baidu-push-notifications](https://github.com/jibon57/nativescript-baidu-push-notifications)

<img width="1405" alt="Screen Shot 2020-02-02 at 9 48 10 PM" src="https://user-images.githubusercontent.com/6080277/73611013-bbefed00-4607-11ea-993f-9a5275a17f9f.png">

Thanks

[2020-02-02 21:00] darind commented on #14
@jibon57, it seems that some error is thrown while evaluating the worker script. The `onerror` callback should be invoked in this case and might provide more details:

[code]

One interesting line is the following:

[code]

I suspect that the issue here is that `this` might be undefined. Can you share the transpiled javascript code from your worker?

[2020-02-02 21:13] darind commented on #27
@jibon57, can you share a sample project exhibiting this error?

[2020-02-03 02:16] jibon57 commented on #27
Thanks for reply. Can I get your email address please? I'll send you source code of my project.

[2020-02-03 02:30] jibon57 commented on #14
Thanks for reply. Here is the javascript code

[code]

[2020-02-03 07:32] darind commented on #27
@jibon57, you can send me the project at darin.dimitrov@progress.com

[2020-02-03 07:56] darind commented on #14
@jibon57, do you get the `console.dir(data);` call inside the success callback of your HTTP request? Is the `onerror` method called (if yes, with what parameter)?

[2020-02-03 07:57] jibon57 commented on #27
@darind , thanks. I have sent you an email

[2020-02-03 07:58] jibon57 commented on #14
@darind I have sent you my project by email.

[2020-02-03 09:08] darind commented on #14
@jibon57, I am having some issues building your project. It seems that it depends on some plugins that are not available (`@nstudio/nativescript-loading-indicator`).

Also I am getting the following error when building:

[code]

[2020-02-03 09:11] jibon57 commented on #14
Sorry, I am using another location version. During sending to you I removed that one. Here the one I was using

[Archive.zip](https://github.com/NativeScript/ns-v8ios-runtime/files/4147005/Archive.zip)

[2020-02-03 09:21] darind commented on #14
okay, still remaining the issue with `nativescript-advanced-webview`:

[code]

[2020-02-03 09:24] jibon57 commented on #14
Sorry, I am sending again by email

[2020-02-04 10:01] farfromrefug commented on #24
@darind just ran the test on my iphone 5s:
* 6.5.0-beta.2-v8-2020-01-31-100851-01 : 900ms
* 6.4.0: 399.303ms

Still a big difference here

[2020-02-04 12:39] darind commented on #24
@farfromrefug, here are the results of my measurements:

| model | official | V8 beta |
| ------ | ------- | ---- |
| iPhone 5s | 255ms | 581ms |
| iPhone 6 | 250ms | 580ms |
| iPhone 6s | 107ms | 169ms |
| iPhone 7 Plus | 85ms | 108ms |
| iPhone X | 80ms | 80ms |

It appears that for those kind of operations the V8 based runtime performs better on more recent hardware. Unfortunately the profiling

[2020-02-04 12:42] darind commented on #14
@jibon57, I have released some fixes related to workers. Could you please verify if your application still crashes?

[2020-02-04 13:56] jibon57 commented on #14
@darind , thank you! It's working fine now :)

[2020-02-04 14:01] darind commented on #27
I have tried running your app with the latest available fixes and it doesn't seem to crash on the device. I also got the `SUCCESSFULLY REGISTER BAIDU PUSH NOTIFICATION` message logged after allowing the app to receive push notifications.

Could you verify if the app is still crashing and if yes, what are the exact steps?

[2020-02-04 14:17] jibon57 commented on #14
@darind I ain't getting anything in `onmessage` but getting result on worker file.

[2020-02-04 14:36] jibon57 commented on #14
@darind also I am always getting `invalid parameter|invalid Headprams` error message. If you'll test with default ios runtime then you will get success message with score.

[2020-02-04 15:00] jibon57 commented on #27
@darind thank you! Yes, from device it's working. Sorry, I was testing from simulator. But if you try with default ios runtime then you will get some error message if you are using simulator. But using this runtime it will crash the APP.

[2020-02-04 16:18] NathanaelA commented on #24
@farfromrefug - Thanks for pushing on this; I am all about performance too.   I appreciate seeing the real numbers and understanding the tradeoffs.  Excellent idea testing the marshaling performance.

@darind - Awesome benchmarks you presented, thanks very helpful.   Sometimes we have to take a performance hit for the greater good -- and that is **very hard for me to say**. :grinning:   In my case

[2020-02-04 17:43] farfromrefug commented on #24
@NathanaelA indeed the question is more on an app fluidity than on the use case presented here. But is was the easiest way to actually test it. Would love to see tests of running apps. And I like to always use an low end device. It is the best way to improve things to the max :p

[2020-02-04 20:05] darind commented on #27
@jibon57, I managed to reproduce the issue on the iPhone Simulator. It is related to a bug in the `console.dir` implementation with some exotic object. I am working on a fix.

[2020-02-04 20:06] darind commented on #14
Thanks, I am looking into this problem now.

[2020-02-05 06:02] jibon57 commented on #14
@darind thanks. I have noticed if I call `close()` method after call `postMessage` in worker then it won't `postMessage` anything. What will be correct way to call that? You can check my code from project. But if you try using default runtime then it will work.

[2020-02-05 07:12] farfromrefug commented on #24
I just thought of an important use case where c++/js bridge can make a big difference : listviews. I have to run some test but with complex list view templates this can make a difference. I am facing this right now(both ios and android)

[2020-02-05 14:15] darind commented on #27
@jibon57, we have released a fix in the `console.dir` function. Could you please verify that the error message is now properly logged in the iPhone Simulator without crashing?

[2020-02-05 14:16] darind commented on #14
@jibon57, we have released a fix for this issue. Now the total score is properly shown when the Stop button is clicked. Could you please check it on your side as well?

[2020-02-05 14:36] jibon57 commented on #14
@darind thank you! Yes, this time I didn't get any of above problem. But the recording score is always `0`. Basically you will have to read & record the text those are showing. After click on stop button you will get the score based on your pronunciation but I am always getting `0`. I did same test using default runtime & getting success (at least some score)

[2020-02-05 14:38] jibon57 commented on #27
Thanks... it's working :)

[2020-02-05 14:42] jibon57 commented on #14
@darind I just tested from a real device & it's getting score. From simulator I was always getting `0` :D

[2020-02-05 17:38] #27 closed

[2020-02-05 17:40] darind commented on #14
@jibon57, I've just tried your app with the official iOS runtime and I am also getting 0 score when running on the Simulator.

[2020-02-05 17:53] jibon57 commented on #14
![Simulator Screen Shot - iPhone 11 - 2020-02-05 at 23 52 28](https://user-images.githubusercontent.com/6080277/73868414-9a466e00-4872-11ea-8c9b-049343fcf2f9.png)

[2020-02-05 17:58] darind commented on #14
I suspect that this has something to do with the API you are using and not the runtime. Can you verify whether the parameters and headers sent to the endpoint differ somehow?

[2020-02-05 18:03] jibon57 commented on #14
@darind thanks. Yes, may be problem from provider as that from China & from outside of China connection is always bad. Thank you so much for your all help :) ..

[2020-02-12 16:11] darind commented on #25
@NathanWalker, we have released a fix for this crash. When you get the chance you can try it and let us know if you are still encountering any problems.

[2020-02-13 12:27] jibon57 opened #29 "Problem with DKImagePickerController"
I am trying to implement [DKImagePickerController](https://github.com/zhangao0086/DKImagePickerController) library in one of my project. I have added in my app's `Podfile` like this:
`pod 'DKImagePickerController'`
It was working until `6.5.0-beta.2-v8-2020-02-05-153040-01` but in latest version getting crash.

[code]

<img width="1397" alt="Screen Shot 2020-02-13 at 6 26 20 PM" src="https://user-

[2020-02-13 12:36] darind commented on #29
@jibon57, thanks for submitting this issue. Could you please provide a sample project?

[2020-02-13 12:53] jibon57 commented on #29
@darind , thanks for reply. I have attached sample project. Please have a look

[Archive.zip](https://github.com/NativeScript/ns-v8ios-runtime/files/4198396/Archive.zip)

[2020-02-13 14:33] darind commented on #29
@jibon57, thanks for the sample project. We have released a fix. Could you please try it out?

[2020-02-13 14:48] jibon57 commented on #29
@jibon57 thank you! Working now

[2020-02-13 14:48] #29 closed

[2020-02-15 03:27] NathanWalker commented on #25
I'm closing this - @darind is incredible. Fixed both issues raised. v8 works great in a very large project of ours now and we are even considering trying in production.

[2020-02-15 03:27] #25 closed

[2020-02-19 09:03] #14 closed

[2020-02-19 12:11] darind commented on #21
Closing the issue for inactivity. Please re-open if the issue persists or manifests under some other form.

[2020-02-19 12:11] #21 closed

[2020-02-19 12:11] darind commented on #13
Closing the issue for inactivity. Please re-open if the issue persists or manifests under some other form.

[2020-02-19 12:11] #13 closed

[2020-02-19 12:12] #15 closed

[2020-03-02 07:36] darind opened #31 "Support for method swizzling"
It should be possible to replace the implementation of existing Objective-C classes with method swizzling.

Here's an example of swizzling class methods:

[code]

And the native class method should be replaced by the javascript implementation.

Another example with instance methods:

[code]

And with instance properties:

[code]

[2020-03-04 13:58] farfromrefug opened #32 "crash"
here is a crash i get while starting another app of mine.

Using 6.5.0-beta.2-v8-2020-02-24-132159-02

here is the related code:
[code]
Happens on the `addObserverForKeyPathOptionsContext` line.
[code]
Let me if i can give more data

[2020-03-04 14:12] darind commented on #32
Replace:

[code]

with:

[code]

The old runtime was applying some heuristics to non-initialized objects to find the most appropriate initializer.

The new runtime doesn't do this anymore and the developer needs to initialize his objects, just like you would do in objective-c.

[2020-03-04 14:12] #32 closed

[2020-03-04 15:39] farfromrefug opened #33 "unrecognized selector sent to instance"
With the v8 runtime and the latest {N} my app crashes with this:
[code]
I am running on an ios 12 simulator .

It is for a view i apply a translate to. Thus i think the crash happens here:
https://github.com/NativeScript/NativeScript/blob/master/nativescript-core/ui/core/view/view.ios.ts#L372

It is not happening with 6.4.1

[2020-03-04 16:01] darind commented on #33
By the way did you try running this on an iOS 13 simulator (https://stackoverflow.com/questions/57133781/ios-13-uiview-transform3d)?

[2020-03-04 16:32] farfromrefug commented on #33
@darind it works on the 13.0 simulator, crashes on the 12.0
And i am not using that prop, {N} is ;)
But why is the 6.4.1 runtime working.
Can it be a question of metadata? like you expect transform3D to be a property, which it is not on 12.0, and the older runtime does not expect anything, so it does not crash as it sees that as just an undefined prop from JS (if you see what i mean).

[2020-03-04 17:56] darind commented on #33
@farfromrefug, that's correct. In addition to the availability attributes, the old runtime also applies logic if the instance responds to the corresponding selector. The reason for this is because there are inconsistencies in the iOS SDK like the one you have encountered.

I will apply the same check in the new runtime as well.

[2020-03-06 14:06] jibon57 opened #35 "Crash with nativescript-swipe-layout"
With `nativescript-swipe-layout` I am getting following errors:

[code]

Demo: https://play.nativescript.org/?template=play-ng&id=vCppC6&v=4

[2020-03-06 14:09] darind commented on #35
Similar to #33.

[2020-03-06 14:52] jibon57 commented on #35
@darind , thanks for reply. I was following that demo to implement in my APP. Both having same problem. I was checking in iSO 13 simulator.

[2020-03-06 14:55] darind commented on #35
@jibon57, as you can see on #33, a fix is on the way. Will let you know once we push it to npm.

[2020-03-06 16:52] darind commented on #35
@jibon57, we have released a fix for this crash under the `beta-v8` tag. Please let us know if it works in your app.

[2020-03-06 17:16] jibon57 commented on #35
Thank you! Working perfectly now :)

[2020-03-06 17:16] #35 closed

[2020-03-06 18:08] jibon57 opened #36 "Worker not return anything with MS cognitiveservices"
I am implementing MS cognitiveservices for NativeScript under worker. Using official runtime I am getting result after I record but using `V8` nothing.

[Archive_2.zip](https://github.com/NativeScript/ns-v8ios-runtime/files/4299671/Archive_2.zip)

Click on "Navigate > Record" but working fine with `Play`. Have one issue with Android too: https://github.com/NativeScript/android-runtime/issues/1591

[2020-03-07 06:46] jibon57 commented on #36
I can see one error:

[code]

[2020-03-07 08:41] darind commented on #36
I am getting the following error when I try to build your project:

[code]

[2020-03-07 08:51] jibon57 commented on #36
@darind I can compile perfectly. My environment:

✔ Getting NativeScript components versions information...
✔ Component nativescript has 6.4.1 version and is up to date.
✔ Component tns-core-modules has 6.4.2 version and is up to date.
✔ Component tns-android has 6.4.1 version and is up to date.
✔ Component tns-ios has 6.5.0-beta.2-v8-2020-03-06-182159-01 version and is up to date.

[code]

[Archi

[2020-03-07 09:05] jibon57 commented on #36
@darind I think the problem is happening for `mscognitiveservices.worker.ts` line 119. If I remove that line then I can get output. Looks like that method isn't available in runtime. If you try same project with official runtime then it will work.

[2020-03-07 09:16] darind commented on #36
I was able to build and run the project. When I click Navigate > Record, I get the following output:

[code]

I think that this condition is not satisfied on line 116:

[code]

[2020-03-07 09:21] jibon57 commented on #36
@darind thanks. I did like this:
[code]
& after click on record speak "Hello World". Now I am getting result:
[code]

This part: `properties.getPropertyById(SPXPropertyId.SpeechServiceResponseJsonResult);`
having problem.

[2020-03-09 12:35] darind commented on #36
@jibon57, we have released a fix for this issue. Could you please verify if the Microsoft Cognitive Toolkit is now working properly?

[2020-03-09 12:53] jibon57 commented on #36
@darind thanks for update. In new version APP isn't starting. I am getting following errors:

[code]
<img width="500" alt="Screen Shot 2020-03-09 at 6 52 48 PM" src="https://user-images.githubusercontent.com/6080277/76214577-3af3c900-6237-11ea-8fb4-9a3b989f068b.png">

[2020-03-09 13:21] darind commented on #36
@jibon57, got it, should be working now.

[2020-03-09 13:42] jibon57 commented on #36
@darind thank you! It's working fine now.

Another issue also opened in Android Runtime here: https://github.com/NativeScript/android-runtime/issues/1591 . Any suggestion on that?

[2020-03-09 13:46] darind commented on #36
@jibon57, that's a completely different issue. I haven't looked into it.

[2020-03-09 13:46] #36 closed

[2020-03-09 13:47] darind commented on #33
@farfromrefug, did you have the chance to check the released fix?

[2020-03-09 15:17] farfromrefug commented on #33
@darind sorry for the late reply. I ran a quick test and it seems to work perfectly!
Thanks

[2020-03-09 15:18] #33 closed

[2020-03-19 13:20] farfromrefug opened #38 "crash when overriding native property"
[here](https://github.com/Akylas/nativescript-material-components/blob/b7a7c29cad585a5c37a8aaf3e5e7165bfc006da8/src/dialogs/dialogs.ios.ts#L75) i override a native property.
This makes it crash.
You can reproduce it by the running the `demo-vue` [here](https://github.com/Akylas/nativescript-material-components/tree/master/demo-vue) and going into dialogs and clicking on the first button

[2020-03-20 08:38] darind commented on #38
Using the latest beta, in my case the app doesn't crash but it freezes when clicking on the Alert button. I am getting the following log:

[code]
Other dialogs seem to work fine.

Are you getting some error log or a crash dump?

[2020-03-20 08:50] farfromrefug commented on #38
Yes i am getting those logs too. For me on an ipjome 6 simulator running ios 12 it does a black screen right away. Buy i think it is the same for you. If it freezes i think it will eventually crash. I actually debugged this and got the breakpoint on the native call that was trying to acces the native property i am overriding. Let me know hiw i can help

[2020-03-20 09:24] darind commented on #38
Can you try overriding the native property like this:

[code]

I suspect that the issue might be related to the `this.super` usage causing a StackOverflow.

[2020-03-20 13:11] farfromrefug opened #39 "crash on NSData.getBytes"
I get a crash on [that](https://github.com/farfromrefug/nativescript-carto/blob/5bc8c18b38d0daadcd33061952a6e0482e40096d/src/utils/index.ios.ts#L170) line
[code]

Right now might not be easy to create a simple example. Let me know if the stack is not enough

[2020-03-21 09:35] darind commented on #39
@farfromrefug, we have released a fix. Could you try it in your app?

[2020-03-21 10:03] farfromrefug commented on #39
@darind seems to be fixed. I ll close this and come back if i still see the issue

[2020-03-21 10:03] #39 closed

[2020-04-02 13:23] farfromrefug opened #40 "NSRULSessionTask: undefined response"
This happens with the v8 runtime and not the current runtime.
To reproduce:

* clone https://github.com/farfromrefug/nativescript-https
* `cd src`
* `npm run demo.ios`
* clilck on the first button. look at the log from here https://github.com/farfromrefug/nativescript-https/blob/master/src/https.ios.ts#L309

[2020-04-02 13:25] farfromrefug commented on #38
As we discussed on stack the override you mentionned did not work

[2020-04-03 12:39] darind commented on #40
@farfromrefug, we have released a fix for this issue. Could you please try it out?

[2020-04-04 13:01] farfromrefug commented on #40
@darind  i can confirm it is fixed.
Thanks

[2020-04-04 13:01] #40 closed

[2020-05-03 03:32] NathanWalker opened #42 "function callback method argument crash with nativescript-plugin-firebase"
[code]

[2020-05-03 03:41] NathanWalker commented on #42
This is the compiled js from the plugin regarding the problem area with `GIDSignInDelegateImpl`:

[code]

[2020-05-03 17:03] NathanWalker opened #43 "View.measure throws error due to difference in _privateFlags handling from JavaScriptCore ios-runtime"
From core modules `view.ios.js`:
[code]

The `throw new Error` will occur with latest v8 runtime whereas with JSC runtime never occurs. I suspect this has something to do with `_privateFlags` handling? Perhaps JSC runtime is assisting with something here which is not yet present in v8 runtime?

Repro: I will demonstrate in a project (not sure exactly what conditions give rise to it) but can say th

[2020-05-06 06:17] darind commented on #42
After debugging we have discovered that the issue is related to a javascript variable in the plugin that is used after being garbage collected: https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/master/src/firebase.ios.ts#L745

The `fAuth` is a local variable that gets initialized to store a native counterpart is then used inside the `GidSignInDelegate` callback: https://github.co

[2020-05-28 18:41] farfromrefug commented on #38
@darind any chance you could look at this? My material components can't work without this

[2020-06-01 06:59] darind commented on #38
Sorry for the late reply. Can you try to replicate this issue in a simple javascript snippet? For example when I tried extending the following class it seems to work:

[code]

I am then able to instantiate and use this class:

[code]

where I have defined the custom `Foo` native class:

[code]

[2020-06-01 07:13] farfromrefug commented on #38
@darind thanks for your answer. Won't be able to do it in the next 3 weeks. When I ll come back I ll test it again but I think the demo vue of my nativescript-material-components shows it in the dialog section. If not it must have been fixed

[2020-06-07 09:29] #43 closed

[2020-06-14 05:59] IEFX opened #47 "crash when fetching v8"
fetch v8
Running: gclient root
Warning: Running gclient on Python 3.
If you encounter any issues, please file a bug on crbug.com under the Infra>SDK component.
Running: gclient config --spec 'solutions = [
  {
    "name": "v8",
    "url": "https://chromium.googlesource.com/v8/v8.git",
    "deps_file": "DEPS",
    "managed": False,
    "custom_deps": {},
  },
]
'
Warning: Running gclient on Python

[2020-06-14 06:15] IEFX opened #48 "./build_all.sh stops at CXX obj/v8_libplatform/default-platform.o"
./build_v8.sh
~/ns-v8ios-runtime/v8 ~/ns-v8ios-runtime
Building for out.gn/x64-release
Done. Made 188 targets from 84 files in 4572ms
ninja: Entering directory `out.gn/x64-release'
[16/1764] CXX clang_x64/obj/torque_base/types.o
FAILED: clang_x64/obj/torque_base/types.o
../../third_party/llvm-build/Release+Asserts/bin/clang++ -MMD -MF clang_x64/obj/torque_base/types.o.d -DOFFICIAL_BUILD -D_LIBCPP_

[2020-06-14 06:21] NathanaelA commented on #47
`fetch` (from the `depo_tools`) are all a google product, and its download system to fetch/sync the v8 from the google v8 repo.   We have no control over any failures of any of google's `depo_tools`.

You may want to try again.  And hopefully it will work.  However, v8 is massive amount of source and third party dependencies so if you have poor internet or slow internet that may disconnect; you mi

[2020-06-14 06:21] #47 closed

[2020-06-29 15:14] NathanWalker opened #51 "Sporadic crash on app exit - iOS 13.5.1"
In a current app on TestFlight, some testers are encountering this occasionally when the app exits (full crashlog attached):

[code]

[crashlog.txt](https://github.com/NativeScript/ns-v8ios-runtime/files/4846379/crashlog.txt)

[2020-06-29 16:20] darind commented on #48
There are some additional steps involved in building v8 for iOS than simply running `build_v8.sh`. What exactly are you trying to achieve?

[2020-06-30 06:18] NathanWalker commented on #48
@IEFX See this section https://github.com/NativeScript/ns-v8ios-runtime#building-v8
Be sure to follow each step carefully, restating steps here for clarity:

In order to build the V8 engine for iOS and produce the static libraries used in this project follow those steps:

1. Get [depot_tools](https://www.chromium.org/developers/how-tos/install-depot-tools)

[code]

2. `fetch v8` (this will create

[2020-06-30 06:19] #31 closed

[2020-07-15 07:39] mapo80 opened #53 "[BUG] - Problem on modal - Error: Attempted to assign to readonly property."
Hi guys,
because I need to enable Bitcode I've adopted new runtime and I succeeded to enable it.
With new runtime I have some crashes and issues.

If I open a modal I have this log and modals do not open:

[code]

Problem is on these line:

`        controller.animated = animated;`

Thanks for your help and support.

[2020-07-15 08:05] mapo80 commented on #53
Guys I've implemented a workaround but this can't be the final fix.
I've changed source code during webpack operations in this way:

[code]

[2020-07-15 08:41] mapo80 opened #54 "[BUG] - Connectivity.ios.ts problem - cDict.takeUnretainedValue is not a function"
Hi guys,

on my app I use `"tns-core-modules/connectivity"` and using last runtime and last NS core version (6.5.10), I've this error:

`cDict.takeUnretainedValue is not a function`

I've seen that `connectivity.ios.ts` has been modified recently:

https://github.com/NativeScript/NativeScript/commit/635f31f81f7826112142c707aff2a66c2b480b0e#diff-e04e55bc1acfe6688983450e6a16735d

I've this error on

[2020-07-26 09:07] farfromrefug commented on #54
I can confirm i have the same issue.

[2020-08-27 15:31] farfromrefug commented on #38
@darind @NathanWalker that bug is still present. Just tried it again and it is still crashing.
tested with `7.0.0-beta.3-v8-2020-07-01-222820-05`
Again the demo-vue app crashes in the dialogs sample while clicking on the first button.
Can it be related to the super class `MDCAlertController` ?
<img width="1377" alt="Screen Shot 2020-08-27 at 17 31 31" src="https://user-images.githubusercontent.com

[2020-09-04 13:48] farfromrefug commented on #38
To add to this, with the migration to n 7 i made some more tests.
If i change that class to es6 with `@NativeClass` i get a different error
[code]
Which seems to come from that line https://github.com/NativeScript/ns-v8ios-runtime/blob/59ae25d79497a73b86b7a35ec4ad0b4f3507b4f2/NativeScript/runtime/ArgConverter.mm#L29 or maybe this one (the stack does not tell me really) https://github.com/NativeScr

[2020-09-09 16:54] rigor789 opened #56 "Getting Started Screenshots"
<img width="453" alt="Screenshot 2020-09-09 at 18 25 43" src="https://user-images.githubusercontent.com/879060/92626234-ee627680-f2c9-11ea-941b-6b43600f54e4.png">

<img width="941" alt="Screenshot 2020-09-09 at 18 46 18" src="https://user-images.githubusercontent.com/879060/92628228-c294c000-f2cc-11ea-8822-58df689d3cd3.png">

<img width="693" alt="Screenshot 2020-09-09 at 18 47 23" src="https://us

[2020-09-09 16:54] #56 closed

[2020-09-09 21:10] rigor789 commented on #53
@mapo80 I believe this has been fixed in https://github.com/NativeScript/NativeScript/commit/967d652c61fbeed6c7e8bd568c893d40308b5b58

[2020-09-17 16:36] shansb-dev opened #57 "Failed Assertion in GetWrappedPointer and WriteValue"
Hi I am updating an old (not mine) plugin for the use with NativeScript 7.

Therefore I have added https://github.com/jibon57/nativescript-simple-libsodium/tree/master/src to a new plugin workspace from https://github.com/NativeScript/plugin-seed and fixed most of the issues I found with the help of the official NativeScript blog posts and various youtube videos from you guys. Thanks for these!

B

[2020-09-18 11:04] shansb-dev commented on #57
Okay after more debugging we could solve these Assertion issues.

It turned out that instead of a pointer a NSMutabledata Object was given, that caused the v8 runtime to fail.

TypeScript header definition objc!sodium.d.ts:271
[code]

C header definition crypto_box.h:60
[code]
TypeScript call in index.ios.ts:370:392 - we had to return **bytes**  pointer for the keys here
[code]

For the other asse

[2020-09-18 11:09] #57 closed

[2020-09-20 19:21] PeterStaev opened #58 "[BUG] Problem with class names and NIBs"
I'm using a POD that has Swift code and XIBs for controllers. This is the pod that I'm using:
[code]

When running with JSC (iOS runtime 6.5.2) When I do:
[code]

I get
[code]

Which is correct and name so when I try to load the controller with the NIB it works. Here is the code that creates the view controller with the NIB:
[code]

With the v8 runtime seems all the classes are renamed. When I try

[2020-09-20 19:32] rigor789 commented on #58
@PeterStaev I think that's a change in ios 13.4 and above that uses mangled class names

maybe related: https://github.com/NativeScript/ns-v8ios-runtime/commit/2b89d7c83bd8a3414f93974d1a902475c45b21bf
same in the JSC runtime: https://github.com/NativeScript/ios-runtime/commit/265c6b675f2f60ed9c639981c6c66576da741028

[2020-09-20 20:14] PeterStaev commented on #58
@rigor789 I would agree, but the same code works perfectly fine with JSC. Basically on the demo app, I uninstalled `@nativescript/ios` and installed `tns-ios` and the code started working. This is running on a iOS 13.5 sim.

I wouldn't mind the class naming if the XIB could be loaded correctly 😄 Seems JSC somehow correctly registers the class/XIB so it can be loaded, while v8 doesn't.

[2020-09-20 20:22] PeterStaev commented on #58
Hmm reading the comment from Darin, seems nested classes are always used with their mangled names.

[2020-09-20 21:10] PeterStaev commented on #58
A quick follow up - a workaround seems to be to decorate the view controller with `@objc(<CLASS NAME>)`. This causes the class to **not** be nested and seems registered correctly.

[2020-09-22 20:32] triniwiz opened #59 "Allow passing TypedArray to NSArray"
We cannot pass TypedArrays e.g `Uint8Array` to methods expecting NSArray

	const encoded = new TextEncoder().encode('Osei');
	const n = NSArray.arrayWithArray(encoded as any);
	const isEqual = () => {
		return encoded[0] === n[0] &&
			encoded[1] === n[1] &&
			encoded[2] === n[2] &&
			encoded[3] === n[3]
	}
	console.log('isEqual', isEqual());

it will crash at creating the new array with the fol

[2020-09-24 09:24] rigor789 opened #61 "Random Crashes with ns7 core modules"
We're also experiencing pretty random but often crash from time to time on iOS devices with latest NS 7 core modules and the project built with Xcode 12:

[code]

_Originally posted by @romandragan in https://github.com/NativeScript/NativeScript/issues/8867#issuecomment-698143588_

[2020-09-24 09:27] rigor789 commented on #61
The invocation that fails:
https://github.com/NativeScript/NativeScript/blob/021c0bb9a24f15a9adf9d5e25a981ea53901e600/packages/core/ui/core/view/index.ios.ts#L787

The assertion is made in this code, either the one on L29 or L45 - we'd have to reproduce the case, while we have a debugger attached:
https://github.com/NativeScript/ns-v8ios-runtime/blob/254ac419d0878f043c69bba718a1e5268115d5c4/Native

[2020-09-24 09:44] romandragan commented on #61
@rigor789, after some investigation it seems like it happens when navigating back from the view which has RadListView on it.

[2020-09-24 11:10] romandragan commented on #61
@rigor789, confirming the issue is not reproduced if the target view has ScrollView instead of the RadListView. As you know it's pretty dirty workaround but at least it works for now...

[2020-09-24 21:37] farfromrefug opened #62 "crash on review after submission"
I just published an app in v8 latest runtime.
Got a crash report which seemed to have happened as Apple was testing the app
I dont have much more info. I looked at the code which seemed related (MDButton from here https://github.com/nativescript-community/ui-material-components/blob/master/src/button/button.ios.ts) and i dont see any error like delegate not "tracked"

<img width="1073" alt="Screen

[2020-09-25 15:56] jamescodesthings opened #63 "iOS app crash after permission request when I use a worker"
**Environment**
Provide version numbers for the following components (information can be retrieved by running `tns info` in your project folder or by inspecting the `package.json` of the project):
 - CLI: `nativescript@7.0.9-rc.1`
 - Cross-platform modules: `@nativescript/core@7.0.5`
 - Android Runtime: `not tested`
 - iOS Runtime: `@nativescript/ios@7.0.0`
 - Plugin(s): `@nativescript/camera@5.0.

[2020-09-30 11:24] RibuRoyson commented on #54
same error here also..it crashed...
NativeScript encountered a fatal error: Uncaught TypeError: cfDict.takeUnretainedValue is not a function
at
_getConnectionTypeFromFlags(file: node_modules/@nativescript/core/connectivity/connectivity.ios.js:50:0)
at _getConnectionType(file: node_modules/@nativescript/core/connectivity/connectivity.ios.js:34:0)
at getConnectionType(file: node_modules/@nativescrip

[2020-10-01 21:06] skaledor commented on #54
same error here also..it crashed...

***** Fatal JavaScript exception - application has been terminated. *****
NativeScript encountered a fatal error: Uncaught TypeError: cfDict.takeUnretainedValue is not a function
at
_getConnectionTypeFromFlags(file: node_modules/@nativescript/core/connectivity/connectivity.ios.js:50:0)
at _getConnectionType(file: node_modules/@nativescript/core/connectivity/con

[2020-10-08 07:29] romandragan commented on #61
@rigor789, any update on this?

[2020-10-10 07:12] NathanaelA commented on #63
Hi, I can confirm the issue.   We will be looking into the issue as time allow.

[2020-10-10 20:10] NathanaelA opened #67 "Appears to be an issue with some classes on iOS 10"
Basically, the first time the UILayoutGuide.alloc().init() is everything is created correctly, and the object works as expected.
The second time thru the routine, the UILayoutGuide.alloc() works; but the prototype chain is now missing the majority of the functions one of which is the `init` function, so then the application crashes with init not being a function.

- Appears to be directly related

[2020-10-12 07:41] jamescodesthings commented on #63
Cheers 😄

[2020-10-12 19:42] NathanaelA opened #68 "Object.prototype.toString.apply(value) is not returning the proper constructor name"
- Please note this is unconfirmed

One of my plugins broke and the reason the user figured out was that it wasn't returning the proper constructor name with a `Object.prototype.toString.apply(value) `  so their fix was to use InstanceOf to do the tests.   However, this did work in the JSC engine, so for compatibility we should double check that this is broken and/or the return value.

I just wante

[2020-10-14 16:38] darind commented on #67
Is this behaviour specific to iOS 10 or is it also reproducible on higher iOS versions?

[2020-10-14 17:05] NathanaelA commented on #67
Easily repro on iOS 10.  I didn't see this issue on 11+ as "init" always worked -- however I didn't step through the code to see if the prototype chain had any missing items on 11+, it is possible that the chain is missing different items on 11+.     If using XCode 12, just download the iOS 10.3 simulator, it will fail on it if you change back to the .alloc().init() on the second pass through.

[2020-10-14 19:52] darind commented on #67
@NathanaelA, could you please provide steps to reproduce this?

Here's what I did:

1. Open the [ios v8 runtime source code](https://github.com/nativeScript/ns-v8ios-runtime/) with XCode 12
2. Replace the contents of [TestRunner/app/index.js](https://github.com/NativeScript/ns-v8ios-runtime/blob/master/TestRunner/app/index.js) with the following:

[code]

3. Run the `TestRunner` target under an iP

[2020-10-14 20:25] NathanaelA commented on #67
Yeah, I didn't run it via the TestRunner, I ran the NS framework as a full `tns create test --js` application just to figure out why it was throwing the error "init()" isn't defined and dropped a debug point on the line 204 of `core/ui/core/view/view-helper/index.ios.ts` where UILayoutGuide is at.

That verified I could duplicate the crash on iOS 10 simulator...

I then modified the code where UIL

[2020-10-15 06:28] romandragan commented on #61
Must the the app is rarely, but still randomly crashes at random places, subjectively more often right after any modal window has been closed. Trace is the same:

[code]

cc @rigor789, @NathanaelA

[2020-10-15 07:58] darind commented on #63
Can you try refactoring your workers logic so that you have a single long running worker which is always running and executing commands. This is better than spawning and terminating a worker every time you need to perform some operation.

[2020-10-16 14:22] adrian-niculescu commented on #51
We are experiencing this issue as well.

[2020-10-17 01:05] #63 closed

[2020-10-17 18:05] #67 closed

[2020-10-17 18:24] NathanaelA commented on #62
@farfromrefug - Martin, can you try the ios 7.0.3 runtime release, one of the fixes was dealing with dead isolates...

[2020-10-17 18:26] NathanaelA commented on #61
@romandragan - Can you test with the new 7.0.3 runtime, their was some issues we resolved in it that might be related to this..

[2020-10-17 19:29] NathanaelA commented on #54
Can one of you test and see if the 7.0.3 fixes this issue
- `tns platform remove ios`
- `tns plaform add ios@7.0.3`
Please make sure you run both the remove and add steps

[2020-10-17 20:40] farfromrefug commented on #62
@NathanaelA thanks will try that as soon as possible

[2020-10-17 22:43] darind commented on #54
@NathanaelA, 7.0.3 won’t fix this as it is a different kind of issue. I am currently working on it and will add support for the Unretained type in the runtime which is currently missing.

[2020-10-17 22:45] #59 closed

[2020-10-18 08:43] romandragan commented on #61
@NathanaelA, thanks, upgraded to 7.0.3 iOS runtime, will test on real device, cause still can't run the project on simulator due to https://github.com/NativeScript/nativescript-cli/issues/5411...

[2020-10-19 06:32] adrian-branescu commented on #51
I think the problem is inside Runtime destructor at this [line](https://github.com/NativeScript/ns-v8ios-runtime/blob/master/NativeScript/runtime/Runtime.mm#L48).

As long as I understand ->Enter() and ->Exit() V8 API calls must be paired. That's what stack allocated instances of Isolate::Scope, Context::Scope etc actually do: they perform an ->Enter() call in their constructor and an ->Exit() cal

[2020-10-19 08:10] jamescodesthings commented on #63
Hey @NathanaelA cheers for looking into the issue, cracking job.

I originally had a single long running worker and found that I'd get the occasional iOS app crash while the app was backgrounded for 30mn or so on an earlier version of the Nativescript 7 releases. I felt the two could be related after seeing the general guidelines docs here: https://docs.nativescript.org/core-concepts/multithreadin

[2020-10-19 11:47] romandragan commented on #61
@rigor789, @NathanaelA, the app is still crashing with:

[code]

Generally, while interacting with ListView: scrolling, refreshing, showing/hiding etc. But could be in other places as well.

Tested with:
- CLI 7.0.9-rc.2
- iOS runtime 7.0.3
- Core modules 7.0.11

[2020-10-19 15:08] darind commented on #51
Yes, I believe this is a leftover from previous refactorings and can be removed. @adrian-branescu, would you mind submitting a PR for this?

[2020-10-19 15:49] NathanaelA commented on #63
Based on all my tests we solved that issue in 7.0.3.
Long running vs short lived - You can use either; but each start of a worker has a performance hit as it has to spin up a entirely new v8 engine effectively, so the best practice is typically to use a single worker that is long lived so that you just send a message to it and it does whatever you need without starting/stopping them.

If you run i

[2020-10-20 07:47] jamescodesthings commented on #63
Cheers for clarifying. Appreciate it =]

[2020-10-21 14:57] NathanaelA commented on #54
Fixed in #72

[2020-10-21 14:57] #54 closed

[2020-10-21 15:07] NathanaelA commented on #51
@adrian-branescu - Sharp eye, thank you very much for spotting the issue, saved us some debug time.  7.0.4 will have this fix in it.

Just a FYI: The only reason Darin suggested you do a PR was because then you get credit for the fix in your github history (and this git repo).  You did the hard work, we love to let you have the credit too.   :grinning:

I created a simple PR #74 which is what your

[2020-10-21 15:45] NathanaelA commented on #51
Fixed in 7.0.4

[2020-10-21 15:45] #51 closed

[2020-10-29 16:12] bradmartin opened #76 "Crash when changing boolean value of native iOS View"
[code]

Crashes with the `setter` of the `animated-circle` plugin [here](https://github.com/NativeScript/plugins/blob/12432f28d3663d8fb252f27f854c728e62b1a593/packages/animated-circle/index.ios.ts#L120)

[code]

Confirmed that switching to the `tns-ios: 6.5.3` runtime and the app runs without crashing.

[2020-10-29 17:43] bradmartin commented on #76
The `value` here ends up coming through as a string instead of boolean. For now updating the plugin to use `booleanConverter()` to handle the setting on the plugin side.

[2020-10-29 18:45] CodeWDstudio opened #77 "Crashes when using workers in N7"
Hi,
We are upgrading an app to N7 that uses the speech recognition plugin for transcribing what someone says. At the same time we record the audio of the speech using a different system. In order to do this successfully on the previous version on Nativescript we put the speech recognition functions in a worker.

Everything works fine until you try and stop the recognition. The app then immediately

[2020-10-29 19:46] NathanWalker commented on #76
This is expected with runtime behavior and setters. Property setter should always use a booleanConverter for proper type handling.

[2020-10-29 19:46] #76 closed

[2020-10-29 22:16] darind commented on #77
Any chance you could create a sample app exhibiting the crash?

[2020-10-30 15:52] CodeWDstudio commented on #77
Yes sure, please find it attached. I have stripped out everything I can from our app to just demonstrate the issue. I have also removed the platforms and node_modules folder to keep the size down, so it will need a build.
[example-app.zip](https://github.com/NativeScript/ns-v8ios-runtime/files/5466152/example-app.zip)

Thanks for replying so fast!

[2020-11-01 18:43] romandragan commented on #51
@NathanaelA, sad to report, but `7.0.4` runtime brings another related issue for me: the app crashes right after "swipe to close" action on iOS. It work just fine on `7.0.3` runtime though.

[2020-11-02 11:11] darind commented on #77
@CodeWDstudio, thanks for the sample. We are able to reproduce the issue and will provide a fix in an upcoming release of the runtime.

[2020-11-02 11:53] CodeWDstudio commented on #77
Great, thanks, I'll look forward to hearing from you!

[2020-11-04 11:41] ruidscampos commented on #51
Confirm this still happens, raised an issue on the main Nativescript project, but it looks like it's a direct relationship to this issue.

Here's the trace:
[code]
Added a bit more information in my original issue report here:
https://github.com/NativeScript/NativeScript/issues/8995

[2020-11-05 21:08] facetious opened #79 "Array marshalling fails the first time, but works every other time"
Some of what I do requires the ability to marshal numeric arrays. For demonstration purposes here, I use a `string` as input instead.

[code]

 This source works without issue in the original `tns-ios`, but in the v8, it fails the first time (and _only_ the first time, from what I can tell).

[code]

[2020-11-13 13:44] keerl opened #81 "Switching to v8 causing crash [ui-image]"
I am trying to get my app updated to use the iOS v8 runtime, but I am getting some bad crashes with virtually no errors in a few places.

The error stems from using the [ui-image](https://github.com/nativescript-community/ui-image) plugin. I have reported the issue [there](https://github.com/nativescript-community/ui-image/issues/34), but am adding it here as it seems to be specific to the v8 runt

[2020-11-13 14:47] keerl opened #82 "Switching to v8 causing crash [nativescript-algolia]"
Here is another instance where my app is crashing when I switch to v8.

I am using [nativescript-algolia](https://github.com/arpit2438735/nativescript-algolia) and if I do a simple search on the old ios runtime it works perfectly, but when I use the new runtime and try to run a search query the app crashes instantly with no errors again.

Here is a demo app that shows the problem: [v8-algolia-bug.

[2020-11-16 15:17] pboulch commented on #81
Same problem here : lib nativescript-community/ui-image v4.0.11 and ns 7.0.10

[2020-11-17 09:46] romandragan commented on #81
Same for me on the latest iOS v8 runtime and latest `nativescript-community/ui-image@4.0.13` and latest `SDWebImage` pod `5.9.5`.

Project to reproduce: https://github.com/romandragan/ui-image-crash-radlistview

[2020-11-17 14:40] keerl commented on #81
Here is the error from my crash with the demo project attached above.

![Screen Shot 2020-11-17 at 7 28 51 AM](https://user-images.githubusercontent.com/24727492/99403801-195bde80-28a8-11eb-9263-05087652cebe.png)

[2020-11-17 14:44] farfromrefug commented on #81
@NathanaelA @NathanWalker let me comment on this as i am the maintainer of the plugin. It really seems to be related with the v8 runtime. We dont see a crash on the classic runtime.
Could you run the example to see the crash through xcode?
I will try and search through the SdWebImage repo to see if that issue is reported there.

[2020-11-17 20:18] darind commented on #81
@keerl, thanks for the detailed report and sample app. A PR that should address this issue is on the way.

[2020-11-17 21:24] farfromrefug commented on #81
@darind damn you are fast ;)

[2020-11-18 11:48] romandragan commented on #81
Works fine with `@nativescript/ios@7.0.6`.

[2020-11-18 17:54] keerl commented on #81
Works now. Thanks @darind !

[2020-11-18 17:54] #81 closed

[2020-11-18 19:29] NathanaelA commented on #77
This should have been fixed in 7.0.5

[2020-11-18 19:29] #77 closed

[2020-11-18 19:29] NathanaelA commented on #82
Can you try the newly release 7.0.6 and see if it fixes your issue?

[2020-11-18 22:40] keerl commented on #82
Issue still exists on 7.0.6.

[2020-11-19 18:09] NathanWalker opened #85 "Fatal error in HandleScope::HandleScope - Entering the V8 API without proper locking in place"
This issue can be experienced when using RadDataForm (nativescript-ui-dataform 7.0.4) in vanilla {N} apps using v8 runtime (7.0.x):

[code]

[code]

Will try to create a small repro app.

[2020-11-20 07:52] cvietor opened #86 "interop.Reference to Array crashes App"
Hi, i'm getting on error (app crashes) when trying to construct an interop.Reference to an array on @nativescript/ios.
Given the following method to construct a reference to an array:

(https://github.com/NativeScript/ios-runtime/issues/1263#issuecomment-602615528)
[code]

if i switch the iOS runtime to tns-ios (6.5.3), it works !

I created a small sample repo here: https://github.com/cvietor/ns7

[2020-11-20 08:09] darind commented on #82
@keerl, thanks for the detailed bug report. While this issue has been observed in the v8 iOS runtime, it is not directly related to it. The reason for the crash is incorrect use of the API in the [plugin code](https://github.com/arpit2438735/nativescript-algolia/blob/master/src/index.ios.ts#L22):

[code]

Inside this constructor we allocate the client instance and then call the `initWithAppIDApiKe

[2020-11-20 21:08] keerl commented on #82
@darind wow, thanks for looking into this and giving this detailed info, very helpful! I will look into updating the plugin.

[2020-11-20 21:08] #82 closed

[2020-11-21 16:25] rigor789 opened #87 "Support ES modules"
The runtime currently handles `commonjs` modules - and if an `import` statement is encountered the application will crash.

The implementation is currently in [ModuleInternal.mm](https://github.com/NativeScript/ns-v8ios-runtime/blob/master/NativeScript/runtime/ModuleInternal.mm)

It would be awesome if es modules were supported, since v8 already supports them - we are just missing the implementati

[2020-11-21 17:50] darind commented on #87
In my opinion, due to the use of bundlers, adding support for ES modules in the runtimes won’t bring additional value. Developers can already use ES modules in their applications.

As far as the open question is concerned: yes the runtime can support both types of modules but they cannot be mixed. What this means is that if the entry point of your application uses ES modules - it can only load oth

[2020-11-30 09:10] rigor789 opened #89 "Can we enable JIT on ios >= 14.2?"
https://groups.google.com/g/v8-users/c/3qStq2YtxYo

Can we remove `--jitless` if running ios >=14.2? Would app store allow apps that use JIT?

[2020-11-30 18:31] NathanaelA commented on #89
When 14.2 was released and this twitter thread (https://twitter.com/altstoreio/status/1324473755062599680) was posted back at the beginning of Nov -- I did a bit of research into this, because this really excited me getting JIT and WASM on iOS.

Unfortunately the TLDR is; Nppe.  ;-(

Basically in 14.2 if you build the app in Debug mode, then one of the things that is allowed by the debugger is JIT

[2020-11-30 23:40] rigor789 commented on #89
I hope that is the case and we can eventually get jit! Until then.... The waiting game

[2020-12-09 12:44] tdhman commented on #61
I also experienced the same issue with nativescript-vue application using NativeScript 7 and `"@nativescript/ios": "7.0.6"`.
The application is crashed immediately when running with Xcode.

[code]

[2020-12-09 15:00] NathanaelA commented on #61
@tdhman - We need the full stack, just the `assert` function (which is line 683)  doesn't give us any idea what called the asset.

If you have a sample app that exhibits this issue that would be helpful, also what plugins are you using; I have a NS Vue app using about 10 plugins on the NS 7 runtime right now without any issues like this, so we need to figure out what is causing this issue...    On

[2020-12-10 08:50] tdhman commented on #61
@NathanaelA The `assert` function is the only error log I got from Xcode console. In fact, I have a native project in Xcode which I use to integrate the native extension for the application so I don't need to rebuild the application with NS command. Then to update NS7 for this native project, I update the NS framework path, internal folder, app folder, etc. I have been doing this way of update sin

[2020-12-10 11:55] felixkrautschuk commented on #61
I am not able to share a sample project here, but while testing our real app, I just noticed the same crash as described here, so I just wanna share as much information as I can:

My config:
- nativescript cli 7.0.11

[code]

Stack:

Further info:
During my manual testing I have opened a Simulator with iOS 12.4 and one SImulator with iOS 14.2 and the app was active on both Simulators for about 2 h

[2020-12-14 14:22] james-criscuolo commented on #85
I'm seeing this issue too. I'm running @nativescript/firebase off of a (now modified) pull request: https://github.com/EddyVerbruggen/nativescript-plugin-firebase/pull/1111

I know that sounds messy, but the code is running successfully in tns-ios 6.5.3. In xcode, the line that seems to trip up the code is here:

https://github.com/firebase/firebase-ios-sdk/blob/14764b8d60a6ad023d8fa5b7f81d42378d9

[2020-12-16 03:35] yFeii opened #91 "build error on xcode"
xcode version：12.3
macOS version：11.0.1

build error

![image](https://user-images.githubusercontent.com/24515770/102301911-d2d6ce00-3f92-11eb-8389-45a5ff466578.png)

[2020-12-16 07:31] darind commented on #91
There's a pull request that should address this issue: https://github.com/NativeScript/ns-v8ios-runtime/pull/84

Can you try building from this branch?

[2020-12-30 15:14] james-criscuolo commented on #85
This appears to be fixed in `7.1.0`, seems that #90 was what was needed.

[2020-12-30 18:22] rigor789 commented on #85
@james-criscuolo thanks for confirming!

[2020-12-30 18:22] #85 closed

[2021-01-06 08:39] delaneyb opened #95 "iOS in debug hangs after resuming from devtools breakpoint"
Very glad to see devtools console autocomplete suggestions working again after updating to 7.1.0, but unfortunately the latest release seems to have broken other parts of devtools debugging for me.

Reproduction steps:
[code]

- Attach Chrome Devtools (MacOS Chrome 87.0.4280.88 (Official Build) (x86_64))
- Tap on the "Blank-{N}-Vue app" label to trigger the debugger statement in devtools
- Continu

[2021-01-06 08:47] delaneyb commented on #95
Stabbing in the dark I've come up with this which seems to somehow prevent hanging but not exactly sure how/why.

JsV8InspectorClient.mm
![image](https://user-images.githubusercontent.com/18545667/103748005-93624580-5057-11eb-89dc-056b6e6761fc.png)

[2021-01-09 06:17] NathanaelA opened #96 "[bug] CLANG_ENABLE_MODULES = YES -- creates broken metadata"
### Environment
- Using XCode 12.x
- NS 7.x

#### Issue
Metadata generation seems to be faulty if the `CLANG_ENABLE_MODULES = YES`

### Steps (flavor doesn't matter):
- tns create test --js
- cd App_Resouces/ios
- edit `build.xcconfig`
   - Add `CLANG_ENABLE_MODULES = YES`
   - Save
- cd ../..
- ns build ios --for-device

### The resulting metadata
[code]

### Normal application without CLANG_ENAB

[2021-01-11 18:57] james-criscuolo opened #97 "IOS 7.1.0 startup time slower than 6.5.4"
With the release of 7.1.0, we've finally been able to test our mobile app on ios-v8. We've found that the startup is significantly slower, to the point that if we start our app via push, apple may kill it due to it taking too long.

My coworker has made a test repo showing this difference, along with much higher CPU usage: https://github.com/IanNMarshall/ns-performance-test

Without any flags (ugl

[2021-01-12 13:14] aaayushsingh opened #98 "dSYM for @nativescript/iOS: 7.1.0 not available in releases"
**Is your feature request related to a problem? Please describe.**

My app is crashing when submitting to App Store but runs fine locally, using ad-hoc distribution and TestFlight.
I'm unable to symbolicate the file to find cause of crash from App Store's report. There is no .dSYM.zip file present for iOS 7.1

[Related issue in Nativescript Repo](https://github.com/NativeScript/NativeScript/issues

[2021-01-19 10:11] aaayushsingh commented on #98
downloaded the latest release. Running ` find . -name "*.dSYM" ` returns nothing. Am I missing something?

[2021-01-21 10:57] felixkrautschuk opened #99 "@nativescript/ios >= 7.0.1: Undefined symbols for architecture i386"
**My config**
- NativeScript CLI 7.1.2 (also tried previous versions)
- @nativescript/ios 7.1.0 (problem exists since 7.0.1, 7.0.0 is working)
- xcode 12.2 (also tried 12.1 and 12.3 but same issue)

**The problem**
When creating a new NativeScript app and adding the following to App_Resources/iOS/Podfile:

[code]

or

[code]

I have trouble to build the app and run the app on iOS in some situation

[2021-01-21 11:39] schnapzz opened #100 "Promise.resolve and Promise.reject causes memory leak on iOS."
Simply referencing another issue posted on the Nativescript repo but it seem to be an issue with the v8 ios runtime so I'll post it here as it seem a very important issue to be fixed.

https://github.com/NativeScript/NativeScript/issues/9151.

[2021-01-22 15:25] delaneyb commented on #100
@darind This part of PromiseProxy seems to be be the culprit: https://github.com/NativeScript/ns-v8ios-runtime/blob/92195e8f7c02aa50a97d686757e0b04070c78ef7/NativeScript/runtime/PromiseProxy.cpp#L18-L26

Replacing with
[code]
or commenting out the script in PromiseProxy entirely fixed the leak for me

Any immediate ideas?

[2021-01-22 16:36] rigor789 commented on #100
The reason this code exists is to ensure the promise callbacks are always executed on the same thread where they are constructed. Though I don't quite understand the inner `Proxy` by just reading the code, will need to run & see what it does.

[2021-01-23 08:24] delaneyb commented on #100
Not exactly clear what situation it becomes useful as long as V8 locking is used properly, and I'm not sure it works fully as intended using try-catch blocks in async functions (.catch() will get invoked on the same thread but I think the mechanics of try catch in terms of execution moving to the catch block are different)

Anyway, I dug further, this triggers the same memory leak:
[code]

It's th

[2021-01-23 17:48] delaneyb commented on #100
9721e19 resolves a leak which comes from the runtime handling the second arg to CFRunLoopPerformBlock, `kCFRunLoopDefaultMode`, but that's unrelated to the bulk of the unreleased allocs, which are made in Interop.mm. Instruments points to these lines for the remaining allocs that aren't being released:

Lines 347, 348 and 350 in `Interop::WriteValue`, called by `Interop::SetFFIParams`:
https://git

[2021-01-26 11:44] darind commented on #100
@delaneyb, great job in pinpointing this issue! I have included your suggested fix for the SymbolLoader memory leak in the [V8 update PR](https://github.com/NativeScript/ns-v8ios-runtime/pull/102/commits/d95a4cdc69bb1146cddcb256419cfab999a72310).

[2021-01-26 12:02] schnapzz commented on #100
@darind Sounds awesome! Hopefully this fix will be released for the runtime soon as it is a critical issue for my companys app to work.
Any idea what time frame for such a PR to become part of the released runtime?

[2021-01-26 12:08] rigor789 commented on #100
@schnapzz we'll be releasing a pre-release later today! 🚀

[2021-01-27 11:13] schnapzz commented on #100
The memory leak seem to be handled, but memory still seem to not be released. Using the same code as in the original issue post
[code]
instruments doesn't register leaks but memory still keep increasing and is never released.

<img width="1056" alt="Screenshot 2021-01-27 at 12 10 09" src="https://user-images.githubusercontent.com/2339426/105983409-01b78800-6099-11eb-859c-b20bc4c66245.png">

[2021-01-27 12:03] rigor789 commented on #100
@schnapzz I guess one of the issues has been fixed - in the above scenario. Perhaps the PromiseProxy still needs some work.

Depending on your use - it may be fine to roll with it as-is in the meantime, or perhaps you could use `6.5.4` (the jsc version) until this is fixed.

[2021-01-27 12:58] schnapzz commented on #100
@rigor789 Thanks I'll test if it works with the downgraded version tomorrow when time allows for it. And thanks for all the attention :-)

[2021-01-27 13:29] delaneyb commented on #100
The only noticeable memory leak triggered by [my original snippet](https://github.com/NativeScript/ns-v8ios-runtime/issues/100#issuecomment-765888341) is patched by https://github.com/NativeScript/ns-v8ios-runtime/commit/9721e195c5e591d4776f485e92ff2c7039b7d215.

Unfortunately afterwards I discovered that when testing that patch on the original issue https://github.com/NativeScript/NativeScript/is

[2021-01-28 16:03] kl4n4 commented on #96
+1 we experience the same issue. Is this no longer supported or is this gonna be fixed in the near future?

[2021-01-28 16:48] NathanaelA commented on #96
To set your expectation properly; this is a lower backlog priority bug, and has very little priority.   Most people in the community should never run into it as they won't set this value.

I would love to know why you have used this value and what it was solving for you, as I honestly couldn't figure out why I would want to use this flag; just ran into a client who tried it and the app was crashin

[2021-01-31 16:29] delaneyb commented on #100
These totally fix the memory leak for me: https://github.com/NativeScript/ns-v8ios-runtime/compare/master...delaneyb:fix-JSBlock-leak

There were definitely issues with:

1. ffi_closure_free never being called for https://github.com/NativeScript/ns-v8ios-runtime/blob/d3eecf29633a130329fdf6302f86241d245cd1e4/NativeScript/runtime/Interop.mm#L61 which I have fixed up for this one Block scenario.

2.

[2021-02-01 17:47] epaterlini commented on #100
Hello @delaneyb , I confirm that your commits in relation to this issue totally fix the problem both on Simulator and on real device.
I have put the app under stress test and no leaks occur.
However as mentioned in #83 I did have some violent crashes too...but one time the message was "App closes due to memory issues" so let's hope it was for the memory being leaked.
I will watch closely also for

[2021-02-02 12:10] delaneyb commented on #100
Ah, hold on a minute - perhaps #83 CAN be reverted when combined with these other 2 fixes, because prior to #83, the 2 other leaks I fixed would have still been occuring, so by taking all of the fixes together, everything including those issues from #83 should be solved! Let me just see what happens if I try to reproduce 83 with and without those 2 other fixes to confirm that it's stable only with

[2021-02-02 15:38] nampil commented on #82
I was having the same problem and I was able to solve it using @darind suggestion:
[code]
Thnks!

[2021-02-02 17:53] delaneyb commented on #100
Nope, scratch that - been debugging with #83 in XCode for hours now with my fixes in place, way too confused to try explain what's going on but it's the last 2 arguments passed to https://github.com/nativescript-community/ui-image/blob/44ddd705e75f4a648afdf1b2c7b6e07f240c57ac/src/image.ios.ts#L532-L539 - eventually something happens and one or both of the functions passed through in ObjC point to

[2021-02-03 01:19] matty0005 opened #103 "interop.Reference() issues"
I'm in the process of updating a copy of 'nativescript-zeroconf' plugin for NS7, and long story short, i can't acquire IP addresses. After some digging around, i found that this line was the root of my issues:
[code]
This line of code used to work in NS6 with the old runtime, but now it just seems to return the pointer without been able to access any properties of the pointer.

eg, this used to wo

[2021-02-09 07:54] aaayushsingh commented on #62
@farfromrefug were you able to find a solution/fix? currently dealing with the same problem

[2021-02-09 08:28] aaayushsingh opened #104 "[need help] app crash on App Store review at first button press"
The app works fine when testing via TestFlight or distributing as adhoc but crashes when submitted to App Store for review on the first button click. The app communicates fine with our api before the crash according to the logs there.

There is no crash reported by Firebase Crashlytics in the console either
atop isn't giving us anything either

<img width="1343" alt="Screenshot 2021-02-09 at 1 30

[2021-02-09 13:47] farfromrefug commented on #62
@aaayushsingh i havent been using the v8 runtime in a while. Are you facing the issue with latest version?
@NathanaelA can you look at it?

[2021-02-10 07:40] aaayushsingh commented on #104
Submitted a build with bitcode enabled in build settings and app didn't crash on review.

[2021-02-10 10:29] brysem commented on #100
Any update date on this? This is an issue in one of our production apps that makes heavy uses of promises to write to an sqlite database. The app keeps closing due to out of memory issues. I'm afraid I can't help with objective-c though :(

[2021-02-10 11:50] schnapzz commented on #100
I've had success by downgrading to iOS runtime v. 6.5.4 whilst this issue is being edged out. This runtime version works with N{7} and have no memory leak issues.

[2021-02-11 01:32] facetious commented on #79
I have another related (maybe identical?) error. I cannot seem to reproduce this in a simple environment; whenever I extract the innermost `Uint8Array.slice` operation, it succeeds without issue. Within an rxjs observable pipe chain, however, I get critical failures that crash my app internal to the v8 isolate. Below is the only information that is caught when I am debugging directly in Xcode.

I

[2021-02-16 12:46] brysem opened #105 "Navigate Memory Problem"
I am running into a reproducible memory leak that occurs when navigating to another page.
In my example we navigate with a 1 second timeout to the same page in an endless loop.

Example Repository:
[https://github.com/atabix/nativescript-memory-leak-example](https://github.com/atabix/nativescript-memory-leak-example)

[code]

## Use Case #1
Run the app with all of the same dependencies with one ex

[2021-02-16 12:48] brysem commented on #100
Hi @schnapzz,

Thank you for the information. I can confirm that @nativescript/ios@6.5.4 does not have an issue with promisses.

I am running into another memory issue similar to the memory leak of promises.
I have created a separate issue about it here: https://github.com/NativeScript/ns-v8ios-runtime/issues/105

Perhaps the two are related in some way?

[2021-02-19 09:54] apsaros commented on #61
Hey, I had the same error that also seemed to point on RadListView as the issue.
After fiddling around with RadList / ListView / ScrollView, I realized that the issue for me was concerning modals.

Some trial and error attempts later I figured out that it was `target: this` when calling $showModal that was causing the issue:
[code]

I was using this extensively, like a default setting for modals.

[2021-03-16 11:15] johnmcauley commented on #105
Thanks @brysem,

Did you find a solution to this issue?

We are experience the same problem for both IOS and IOS V8 when navigating between pages. The issue is only IOS and the profiling we have done on Android shows continuous memory management by the GC. We will post an issue with a detailed explanation on the memory problems we are seeing.  I am unsure how any IOS app, with more than one page,

[2021-03-16 13:03] ruanorz opened #106 "Memory Leak on Page Navigations"
# Memory Leak on Page Navigations

### Enviroment

"@nativescript/core": "7.3.0"

"nativescript-vue": "^2.8.1"

"@nativescript/ios": "7.2.0"

✔ Component nativescript has 7.2.1 version and is up to date.

✔ Component @nativescript/core has 7.3.0 version and is up to date.

✔ Component @nativescript/ios has 7.2.0 version and is up to date.

### Describe the bug

NS is not freeing memory on page nav

[2021-03-16 13:25] johnmcauley opened #107 "Memory Leak on Page Navigation on NS7"
### Describe the bug

NS is not freeing memory on page navigations on iOS. When profiling, on each page navigation, the memory increases and app gets slower until, at some point, the app freezes or the OS terminates the app. This behaviour is restricted to IOS, we have profiled with the Android Runtime (https://github.com/NativeScript/android-runtime) and the garbage collection works as expected.

[2021-03-16 13:31] #106 closed

[2021-04-06 08:50] brysem commented on #105
Hi @johnmcauley,

I have not yet. I will start debugging the runtime myself this week.
The v7.2.0 runtime has a compounded issue in which promises are leaking memory too.

I would prefer to debug v6.5.4 because the promise problem is not present. However, I can't find a commit, tag or reference to this version of the runtime in this repository. @rigor789, do you know where I can find this?

Debugg

[2021-04-06 18:15] rigor789 commented on #105
@brysem 6.5.4 is the JSC runtime located here: https://github.com/NativeScript/ios-runtime

We are still debugging and looking into this issue, just more involved than expected.

[2021-04-07 13:17] tobiAdBr opened #109 "Problem with UIImageWriteToSavedPhotosAlbum"
Hey there I encountered a problem when calling UIImageWriteToSavedPhotosAlbum with a completionTarget. This error does not appear if I use "@nativescript/ios": "6.5.4", instead of "@nativescript/ios": "7.2.0".

I also tried to use the [Typescript Subclassing Syntax](https://v7.docs.nativescript.org/angular/core-concepts/ios-runtime/how-to/objc-subclassing#typescript-support) without any success.

[2021-04-09 21:22] Logikgate opened #112 "Runtime build error"
Hello!

I am attempting to build the runtime in order to debug the issues outlined [here](https://github.com/nstudio/nativescript-plugins/issues/12) for nativescript-camera-plus but am running into an issue when running the TestRunner (see below screenshot).  I'm unsure where to go from here, any help/hints would be appreciated!

<img width="821" alt="Screen Shot 2021-04-09 at 5 20 11 PM" src="htt

[2021-04-10 04:19] darind commented on #112
Make sure you have cloned the llvm git submodule of this repository.

[2021-04-10 15:21] Logikgate commented on #112
That was it, thank you!

Mind if I open a pull request to add `git submodule update --init` to the Getting Started section of the README?

[2021-04-10 15:55] rigor789 commented on #112
@Logikgate go for it! 💯

[2021-04-10 16:20] #112 closed

[2021-04-27 11:40] triniwiz commented on #99
The v8 runtime (v7+) does not support i386 and x86 I would suggest ignoring those archs in your `build.xcconfig` or the simplest solution would be setting the platform to 11 (`platform :ios, '11.0'`) which removed 32bit support

[2021-06-09 12:41] schnapzz commented on #100
Is there any news in regards to this issue?

[2021-07-07 20:15] mihernandez6 commented on #61
Hi
Any news on this? My app was working correctly, but it literally started crashing on start last week. Somtimes I see the splashscreen and sometimes I don't, it just dies. Process I followed is:

- App built using CLI v7 and Android/iOS runtimes v8, running correctly.
- Last week, code changes were done (new feature ; Android works correctly, but iOS error was similar to OP both on simulator and

[2021-07-09 18:45] kraigjacobson commented on #105
Not sure if this is related but I'm seeing a memory leak on navigation as well but in Android. If there is a better place to post this let me know.

Here is a basic repo where the problem is reproducible:

[https://github.com/kraigjacobson/nativescript-memory-leak](https://github.com/kraigjacobson/nativescript-memory-leak)

 Simply click the buttons to get the app to navigate and after a short tim

[2021-07-21 10:46] felixkrautschuk opened #120 "Trouble integrating latest BraintreeDropIn pod to NativeScript app"
I am trying to update the native dependencies within the [nativescript-braintree](https://www.npmjs.com/package/nativescript-braintree) plugin. While everything works as expected on Android side, I am struggling to make the ios build process working.

The [migration guide](https://developer.paypal.com/braintree/docs/guides/client-sdk/migration/ios/v4) says:

I am adding the following to App_Resour

[2021-07-21 11:18] schnapzz commented on #100
To those who haven't seen the youtube updates, it seems that there might be a fix to this issue when {N} updates in august.
Source: https://www.youtube.com/watch?v=dmG6gTy8YZ8

Crossing my little fingyes.

[2021-07-27 09:30] felixkrautschuk commented on #120
I tested multiple versions of the ios runtime, tns-ios 6.5.4 to @nativescript/ios 7.2.0, but it make sno difference.
Any help would be appreciated

[2021-07-30 13:20] felixkrautschuk commented on #120
WHen creating a native ios xcode project and adding the _BraintreeDropIn_ pod there, the project is built correctly so this issue seems to be caused by nativescript in some way

[2021-08-15 21:42] cjohn001 opened #124 "Readout of deviceId crashes runtime"
Hello together,
I have the following code snipped which I used to read out the deviceId. The last line now crashes the runtime. If someone know of a workaround, would be great to have it mentioned here. Thanks!

"@nativescript/ios":
"version": "8.1.0-rc.1",

const systemInfo = new interop.Reference<utsname>();
uname(systemInfo);
deviceId = NSString.stringWithUTF8String(systemInfo.value.machine).to

[2021-08-15 21:55] cjohn001 commented on #124
Ok, this here works as a workaround:

const _SYS_NAMELEN = 256;
const buffer = interop.alloc(5 * _SYS_NAMELEN);
uname(buffer);
deviceId = NSString.stringWithUTF8String(buffer.add(_SYS_NAMELEN * 4)).toString();

[2021-08-23 13:43] luke-hawk opened #125 "App crashes after update to 8.1.0-rc.1"
Hi, after upgrading to `8.1.0-rc.1` we've seen a lot of app crashes on ios. It seems like these crashes are caused by forcefully closing the app (double tap on home button / swipe up). On testflight we even get an alert that the app has crashed after closing it that way. Here's a stacktrace from crashlytics:

[code]

Let me know if you need any more information to get to the root of the issue or i

[2021-08-27 21:13] cjohn001 opened #126 "discardUncaughtJsExceptions: true not working with new runtime"
Hello together,
I just came over an issue were a plugin throws an exception which lets my app crash. With the JSC runtime I can set
discardUncaughtJsExceptions: true
in nativescript.config.ts

and than I only get an error message as follows on the console:
NativeScript discarding uncaught JS exception!

instead of the app crashing. Seems like the new runtime does not implement this behavior. It si

[2021-09-08 16:39] luke-hawk opened #128 "Invalid sdk value for 8.1.0-alpha.7"
I've just tested the latest version `8.1.0-alpha.7` and would like to report that my archive (xcode 12.4) has been declined for the following reason:

[code]

Seems like a xcode build issue with `8.1.0-alpha.7`?

[2021-09-08 17:32] NathanWalker commented on #128
Thanks for mentioning this @luke-hawk - I believe the alpha was built with Xcode beta so we'll make sure the final 8.1 release shortly is built with the stable release which should resolve that. We'll keep you posted here. For now you can probably use the released version until we have 8.1 out.

[2021-09-08 20:09] NathanWalker commented on #128
@luke-hawk we published 8.1 now if you could switch your package to @nativescript/ios '8.1.0', clean and upload to store - let us know if further issue.

[2021-09-08 22:43] rigor789 commented on #125
I believe this has been fixed in 8.1.0 now.

[2021-09-09 03:34] sikemullivan commented on #61
@mihernandez6 I'm getting the same thing. Crashes when the app calls configureTnsOAuth in nativescript-oauth2. You ever figure the issue out?

[2021-09-09 09:31] luke-hawk commented on #128
Thanks for your response and for releasing 8.1 @NathanWalker🎉 – the problem seem to be resolved. I uploaded a new build to the store and haven't gotten the above error. Cheers!

[2021-09-09 09:31] #128 closed

[2021-09-09 09:33] luke-hawk commented on #125
@rigor789 Yes, I can confirm it has been fixed in 8.1.0. Thanks a lot 👍

[2021-09-09 09:33] #125 closed

[2021-09-09 21:49] mihernandez6 commented on #61
Not yet, unfortunately. I was just playing around with the code, the problem seems to be something related to the delegate, but more actual tests are necessary.

Inside the _node_modules/@nativescript/core/application/index.ios.js_ I changed line 335 from this:

[code]

to this:
[code]

This isn't the right way to go, but at least I managed to run the app. I'll try to run it again after uninstall

[2021-09-10 13:48] sikemullivan commented on #61
Interesting... I'll give that a try. Thanks!

[2021-09-15 13:06] Thisgio commented on #20
Where is the new one?

[2021-09-23 05:46] mvargaslandolfi1993 commented on #58
Hi @PeterStaev. i have the same problem, how do you solved?

[2021-09-23 06:12] PeterStaev commented on #58
Hey @mvargaslandolfi1993, see the comment just above yours :)

[2021-09-23 23:18] mvargaslandolfi1993 commented on #58
Yes, I see, but I don't understand where to change it.

[2021-10-01 00:33] sikemullivan commented on #61
Unfortunately, the above is not a fix, just creates more problems down the road. I think the nativescript-oauth2 project is failing to keep things up to date.

[2021-10-13 09:39] JacquesBeets opened #129 "UI API called on a background thread: -[UIView setNeedsLayout]"
Describe the bug:
We managed to update our app from NS6 to NS8 but we are getting this crash after we accessed a user's photos/videos from their device on iOS. I included our code we use to retrieve these items from the device as It could also be a factor. Please let me know if there is any other information required.

Environment:
[code]

Console Log:
[code]

Xcode Log:
[code]

Our Service Fetchi

[2021-11-01 11:27] timdoege commented on #61
I have noticed an increase in Firebase Crashlytics reports on this issue using the 8.1.0 iOS runtime as well:

[code]

[2021-11-09 11:51] tobydeh opened #130 "DYSM for 8.1.0"
Where can I download the dysm assets for 8.1.0?

[2021-11-09 12:10] rigor789 commented on #130
They should be packaged inside the `XCFramework`:

<img width="292" alt="image" src="https://user-images.githubusercontent.com/879060/140921868-a641a223-5ebb-44db-8ad8-cd72844ccf46.png">

[2021-11-09 12:13] tobydeh commented on #130
Great, thank you! Do I need to do anything to receive symbolicated crash reports from apple?

[2021-11-09 12:16] rigor789 commented on #130
I don't think so, if you open the crash report along the project (`platforms/<projectName>.xcworkspace`) - I believe it should automatically symbolicate.

[2021-11-09 12:19] tobydeh commented on #130
Awesome, thanks.

[2021-11-09 12:19] #130 closed

[2021-11-09 20:24] NathanaelA opened #131 "Data Corruption caused by NS 8.1 PR #127"
@rigor789 @darind - There appears to be a corner case bug if the string passed in is "" (empty). Only occurs with NS 8.1 runtime, and we tracked it down to empty string being passed in. I figured out a work around in my case, but the issue is definitely something in the 8.1 runtime as 8.0 works great. My guess is the #127 here is causing the issue as it probably is NOT creating a null terminated 0

[2021-11-09 22:11] darind commented on #131
@NathanaelA, can you please provide a sample illustrating the issue?

[2021-11-09 22:57] NathanaelA commented on #131
See the thread here: https://github.com/NathanaelA/nativescript-sqlite/issues/173

The If you clone my demo app in the repo and then type in "test" as the name, it will run all the tests.  However use the prior NS-Sqlite version (as the latest version works around the NS 8.1 issue).

The issue is when you send a empty string as a parameter when it is converted to its "c" string -- it is no longer

[2021-11-11 19:11] darind commented on #131
@NathanaelA, #132 should address this issue.

[2021-11-11 22:15] NathanaelA commented on #131
@darind - Looked at the PR but didn't trace things down into the classes, can you confirm that the last character in the string will now be a `\0` (null) character?    Or will it be filled with whatever was in memory when allocated?     Most memory allocators do NOT zero fill allocated memory -- so you tend to have to manually `\0` (null) the last character...    But you know the code better to be

[2021-11-11 23:07] darind commented on #131
@NathanaelA, this PR adjusts the string length passed to v8’s ExternalString accounting for the null terminating character. So for example, the length of the empty string should be 1 instead of 0.

[2021-11-11 23:19] NathanaelA commented on #131
Yes, I saw that, off the top of my head I believe that should fix it.   :+1:       But was wanting to verify that when it marshals the data from JS to a C string in this new class that was added in 8.1, that it actually does get the \0 null character appended to it as that might also need to be accounted for.

[2021-11-18 23:40] NathanWalker commented on #131
Thanks @darind, https://github.com/NativeScript/ns-v8ios-runtime/pull/132 published in `8.2.0-alpha.0` - Upon confirmation this issue can be closed and will be included with 8.2 in coming weeks.

[2021-11-20 15:05] DeepakArora76 opened #134 "interop.Reference returns undefined value"
Hi everyone,

I need your help to understand why the `vmStatRef.value.free_count` in the below code returns `undefine` value.

I am using `NativeScript 8.1`. The platform is `iOS`.

[code]

The git repository is https://github.com/DeepakArora76/nativescript-dna-deviceinfo

Here is a 64-bit implementation
[code]

I also tried `vm_statistics` instead of `vm_statistics64` and that too failed as well!

[2021-11-23 08:08] DeepakArora76 commented on #134
@rigor789 A similar issue is https://github.com/NativeScript/ns-v8ios-runtime/issues/103

I highly appreciate it if such common issues can be prioritized.

[2021-12-02 18:43] kkoates commented on #96
+1 I've hit this now too.  I have a 3rd party framework that I'm creating a plugin for that is importing a module that requires CLANG_ENABLE_MODULES = YES.  Without turning this on I get the standard errors to turn modules on due to @import being used to include their module.  Upon adding CLANG_ENABLE_MODULES = YES to build.xcconfig, ns builds okay but app crashes on launch for a real device.  It

[2021-12-03 10:21] timdoege commented on #61
I tracked the source of my issue to this:
https://github.com/EddyVerbruggen/nativescript-barcodescanner/pull/278

and switched to
https://github.com/nstudio/nativescript-plugins/tree/main/packages/nativescript-barcodescanner

(thanks @bradmartin)

[2021-12-06 13:12] maxorlovsky opened #135 "Navigation Memory leak"
ns-v8ios since version 7 I think have this issue. Where garbage collector is not operating as intended. I think there's a duplicate  about this topic in the issue list, but it's easier to create one for myself with all necessary details.

So the leak is happening even on the app that you can install with `ns create`. If you create one using the template where this code exists
[code]

I've tried  t

[2021-12-15 16:35] drangelod opened #136 "V8 crashes on iOS15+ devices"
Since the release of iOS 15, our typescript flavored NS production app has encountered ~1 million crashes caused by the v8 runtime. These are not reliably reproducible during dev/testing and we're at a loss at how to investigate deeper to isolate the cause. We're currently on latest 8.1 release of the v8 runtime. I've tried using 7.2 and 8.2.0-alpha but same crashes. Our NS cli is on latest 8.1.5.

[2022-01-06 08:10] fpaaske opened #139 "App randomly crash with v8::base::OS::Abort()"
We're experiencing random crashes with the latest versions of NativeScript. This case happened right after launch.
Might be related to #125 #136.

ns info
✔ Getting NativeScript components versions information...
✔ Component nativescript has 8.1.5 version and is up to date.
✔ Component @nativescript/core has 8.1.5 version and is up to date.
✔ Component @nativescript/ios has 8.1.0 version and is up

[2022-02-06 14:01] cjohn001 opened #143 "8.2.0-alpha.5 : App crashes on Emulator when Chrome debugger tries to connect"
Hello together,
I am currently playing with the 8.2.0-alpha.5 runtime as well as with 8.1.0 runtime. I have observed a problem with my app on IOS simulator when I try to debug my app.
If I used an IOS 13.5 emulator with 8.1.0 runtime the app **sometimes** crashed when the Chrome debugger connects. With the same 8.1.0 runtime but using an iOS15.2 simulator the app **always** crashes when the chrome

[2022-02-15 06:28] adrian-branescu opened #147 "Fix metadata-generator on Xcode 13"
I've enabled `TNS_DEBUG_METADATA_PATH` and tested using the following environment
[code]
`metadata-generation-stderr-arm64.txt` contains hundreds of `fatal error: could not build module`
[code]

The build succeeds though, but looking at the YAML dumped for the native plugins a lot of methods and data types are missing. This explains the crashes reported on iOS 15+ devices if Xcode 13 was used to b

[2022-02-15 06:58] adrian-branescu commented on #147
It seems the `_Nullable_result` attribute that was causing trouble to `metadata-generator` in the above example was introduced in [Clang 12](https://releases.llvm.org/12.0.0/tools/clang/docs/AttributeReference.html#nullable-result). Since you are linking with `clang 8` it explains why it can't parse that method of `NSURLSession`.

[2022-02-15 13:05] bouffa opened #148 "dSYM for @nativescript/iOS: 8.1.0 not available in releases"
The dSYM package is missing from the latest release.

[2022-02-15 13:22] rigor789 commented on #148
Good catch - will try to generate them and add them.

Though the XCFramework published to npm should contain the dSYMs

[2022-02-19 22:23] joshcomley commented on #148
@rigor789 all I can find for XCFramework on npm is this, which is a year old:

https://www.npmjs.com/package/ern-container-transformer-xcframework

[2022-02-19 23:50] rigor789 commented on #148
I meant the npm package for the runtime `@nativescript/ios@8.1.0`, ie:

https://unpkg.com/@nativescript/ios@8.1.0/framework/internal/XCFrameworks.zip

This has the `NativeScript.xcframework` which has the `dSYMs` folders in there.

[2022-03-08 17:48] BozzaDaniel opened #152 "Invalid sdk value for 8.2.0"
Seems like issue #128 has reappeared with the release of 8.2.0. An update to an app got rejected with the following message:

[code]

Looks like a new build is required.

[2022-03-08 22:17] NathanWalker commented on #152
Fixed in 8.2.1

[2022-03-08 22:17] #152 closed

[2022-03-30 22:17] Upd4ting opened #157 "mac m1 build linker failed arm64"
Hello there,

I'm trying to use nativescript on a M1 mac, I followed the setup on the website for macOS + iOS and ns doctor says everything is fine.
But when building for iOS by doing `ns build ios` I encounter this error: `building for iOS simulator but linking in object file built for iOS, file 'somefilepath' for architecture arm64`.

I am able to make this error go away by enabling `Open with r

[2022-03-31 18:44] drangelod commented on #136
For us, we ended up isolating this to a problem with focusing on certain text fields which seems to cause an issue with the iOS keyboard toolbar auto-suggest or keychain access for saved login data when using the new V8 engine. We ended up wrapping every problematic text field with a `('@nativescript/iqkeyboardmanager').PreviousNextView` and haven't run into that particular crash since.

[2022-03-31 18:44] #136 closed

[2022-04-01 04:29] edusperoni commented on #136
If you find a way to reproduce it we can probably try debugging it, but as is it's a bit difficult to identify the issue

[2022-04-02 15:59] Upd4ting commented on #157
It seems I don't have any drawback using this.

[2022-04-02 15:59] #157 closed

[2022-04-03 21:22] Upd4ting opened #158 "ListView make the app crash on release build"
Hello there,

I recently figured out a current bug of the latest version of the ios runtime (8.2.3).
When i'm using `ListView` in my page B and that I have a back button doing `this.$navigateBack()` to go back to page A. If I'm doing the navigation multiple time A => B => A => B. The app will crash. If i'm not doing `this.$navigateBack` but instead just do forward navigation with clearHistory, it

[2022-04-18 15:20] adrian-branescu commented on #147
@NathanWalker the above issue replicates only when you have `CLANG_ENABLE_MODULES=YES` set in the native app.
This env variable propagates to metadata generator and causes the fatal errors mentioned above.

I've investigated further and the errors reported using `TNS_DEBUG_METADATA_PATH` are still there even with `CLANG_ENABLE_MODULES=NO`, just they are no longer fatal.

Without updating the clang

[2022-04-22 12:38] Robernator commented on #58
Hi @PeterStaev,

I want to use your photo-editor and having the same problem aas described above.
You mentioned a workaround with the view controller with @objc decoration, I really don't know where to change the code.
I hope you can help me.

[2022-04-26 16:08] felixkrautschuk commented on #120
Is there any advice on this? The issue still exists using NativeScript 8.

[2022-04-28 12:56] erjdriver opened #162 "Getting a syntax error for for ios code NS6"
Getting a syntax error on the following ios specific code in Nativescript 6.x

`
navigationBar.standardAppearance.titleTextAttributes =
   NSDictionary.dictionaryWithDictionary({
        [NSForegroundColorAttributeName]: UIColor.whiteColor
      });
`

Message

`
Argument of type '{ [x: string]: UIColor; }' is not assignable to parameter of type 'NSDictionary<unknown, unknown>'.
  Type '{ [x: stri

[2022-04-28 13:36] rigor789 commented on #162
If you can't update your `tns-platform-declarations` to use latest `@nativescript/types` instead - you can just do `// @ts-ignore` above the line.

This is just a TypeScript error, and it should work fine during runtime.

[2022-04-28 15:25] #162 closed

[2022-05-05 19:01] NathanaelA opened #163 "Missing "Worker" Functionality in ios v8"
So this is a issue where v8 is missing something that was used in JSC.

1. MainFile -> let worker = new Worker('primary.worker');
2. Primary.Worker -> let subWorker = new Worker('sub.worker');

## Other information:
`console.log(Object.keys(global));`
v8: Inside Worker

JSC: Inside Worker

## Example Code:
`ns create test --js`
replace `main-view-model.js`
[code]

Add: test.worker.js
[code]

Add t

[2022-05-11 18:18] rigor789 commented on #147
@adrian-branescu give `@nativescript/ios@8.2.4-alpha.2` a go it uses clang13.0.1 and should work as expected now!

[2022-05-16 12:46] felixkrautschuk commented on #61
Are there any updates on this?

We are still noticing that with @nativescript/ios 8.2.3. Right now we have to stick with 8.0.0.
We are also getting some crash reports with that version, but they rarely occur there.

[2022-05-17 20:35] kryptus36 opened #166 "V8 base:OS:Abort on v 8.2.3"
This may be a duplicate of #139 but I'm posting it separately as the backtraces are not quite the same and mine seems to give a reason for the crash (Escape value set twice).

OS Version: iOS 15.4.1 (19E258)
Report Version: 104

Exception Type: EXC_BREAKPOINT (SIGTRAP)
Crashed Thread: 0

Application Specific Information:

#
# Fatal error in %s
# %s
#

Thread 0 Crashed:
0   NativeScript

[2022-05-17 20:43] kryptus36 opened #167 "Garbage pointer dereference using v 8.2.3"
OS Version: iOS 15.4.1 (19E258)
Report Version: 104

Exception Type: EXC_BAD_ACCESS (SIGBUS)
Exception Codes: BUS_NOOP at 0x1900007463656a6a
Crashed Thread: 6

Application Specific Information:
permessage_deflate >
Attempted to dereference garbage pointer 0x1900007463656a6a.

Thread 6 Crashed:
0   NativeScript                    0x102313b2c         v8::internal::JSArrayBuffer::GetBackingStore
1

[2022-05-17 21:55] edusperoni commented on #167
Please provide more information. These stack traces can help us identify where the crash happened natively but aren't of much use without the accompanying JS stack trace or way to reproduce it.

This case specifically is probably an issue with accessing some ArrayBuffer that was released somewhere along the way, but this is just an educated guess.

[2022-05-17 23:19] kryptus36 commented on #167
According to the sentry breadcrumbs the last thing to happen before the crash was a successful network call.

GET https://..... [200]

{reason: no error, request_body_size: 0, response_body_size: 5051}

beyond that, I have asked for help in discord on how to configure sentry to provide more info. I don't know how to get the js stack :(

[2022-06-24 01:38] sanketsw commented on #105
Is there a resolution or a manual workaround to this issue. We are on latest Nativescript, but our app keep crashing on ios due to memory leaks.

[2022-07-11 02:44] sanketsw commented on #100
Is there any news related to this issue?

[2022-07-23 15:21] shirakaba opened #174 ""libXML2 not found" when building metadata generator"
I was walking through the build steps but got stuck on the first one:

[code]

My environment:

* macOS Monterey 12.4
* Apple M1 Max
* Using Nix as my package manager rather than Brew
* Have installed the Xcode tools already

[2022-07-23 15:22] shirakaba commented on #174
To solve it, I found an existing libxml2 library (some StackOverflow post pointed me to one) and added it to cmake's path:

[code]

[2022-07-23 15:22] #174 closed

[2022-07-23 15:39] shirakaba commented on #174
That said, it doesn't help with the Xcode project generation:

[code]

Really, really hoping not to have to get homebrew just to proceed here: https://github.com/Guardsquare/LibEBC/issues/5#issuecomment-382611431

[2022-07-23 15:41] shirakaba commented on #174
Shortening the prefix path to cover more of the directory tree seems to have worked:

[code]

[2022-07-24 02:02] shirakaba opened #176 "When trying to generate metadata, fatal error: 'clang/AST/DeclBase.h' file not found"
Followed the steps to generate the metadata and met an error.

Note that I am passing the `-DCMAKE_PREFIX_PATH` flag because for whatever reason, cmake can't find libxml2 (as discussed in #174).

[code]

[2022-07-24 02:05] shirakaba commented on #176
The solution (which, although meets a new error, does get further) is to download llvm into the expected search path in the repo, to avoid relying on the system llvm (which I can't find with `which llvm` in the first place, actually):

[code]

[code]

[2022-07-24 02:15] #176 closed

[2022-07-24 12:44] rigor789 commented on #176
https://github.com/NativeScript/ns-v8ios-runtime/blob/6ee354c4e0fe591698e17975de0d25b4bf50a8bc/build_metadata_generator.sh#L5

should already run this for you if built with `./build_metadata_generator`

[2022-08-16 13:56] CatchABus commented on #61
@felixkrautschuk @gustavotrott Are you still facing that issue with latest runtime and `core` package?

[2022-08-16 14:25] gustavotrott commented on #61
Now it is much better! I'll make further tests and let you know if I find problems.
Thanks!

[2022-08-30 12:03] Echoju commented on #61
Hi
May be this could help.
I faced the problem today, and using this :
**this.$navigateTo(Home);**
instead of this :
**this.$navigateTo(Home,{  clearHistory: true });**

seems to make a difference, I don't have the message "assertion failed" after coming back to home page on IOS.

[2022-09-14 18:40] #167 closed

[2022-10-10 14:41] BozzaDaniel opened #182 "Crash in tns::compareIdentifiers (EXC_BAD_ACCESS / KERN_INVALID_ADDRESS) in simulator"
I had this crash happen sometimes when building an app for the simulator. It will crash on startup every time until the app is rebuilt.

Crash report:

-------------------------------------
Translated Report (Full Report Below)
-------------------------------------

Incident Identifier: CDE44A4D-D3E0-476D-8F51-EDEB1D9D3FBE
CrashReporter Key:   F249B0C5-EAA2-EFED-BB70-2E228A215D17
Hardware Model:

[2022-10-12 00:36] #96 closed

[2022-10-12 01:24] #131 closed

[2022-10-18 10:53] felixkrautschuk commented on #120
I updated the demo app to use latest NS 8.3 dependencies and the issue still persists.

[ns-braintree-ios-issue.zip](https://github.com/NativeScript/ns-v8ios-runtime/files/9809511/ns-braintree-ios-issue.zip)

It seems to be caused be caused by a subdependency of the _BraintreeDropIn_ pod:
`pod 'Braintree/ThreeDSecure', '5.14.0'`

The problem seems to be the following part form the error log:

But

[2022-10-20 19:27] laursen86 opened #183 "Missing dSym for release 8.3"
There is no dSym file attached to the release 8.3. The latest is for 8.2.0 - 8.2.1.

[2022-11-19 23:08] rigor789 commented on #183
dSYMS should now be included in the NativeScript.xcframework itself copied to `platforms/ios/internal/NativeScript.xcframework` - not sure if that's enough, perhaps we could still figure out how to generate a zip file of these to be easily attachable to error trackers like Sentry/Firebase Crashlytics.

![image](https://user-images.githubusercontent.com/879060/202875037-e7ecfd0c-a32a-49f5-8ec1-b7a5